# Zodiac Sign stock prediction Project

### Context:
- We are trying to

In [1]:
import pandas as pd
#pd.options.mode.dtype_backend = 'pyarrow'
pd.__version__

'1.4.4'

In [2]:
def read_file_and_export(f: str, export: str):
    count = 0
    import csv
    file = open(f, 'r')
    file2 = open(export, 'x')
    writer = csv.writer(file2)
    columns = ['Date__(UT)__HR:MN', 'R.A._(ICRF)', 'DEC__(ICRF)', 'APmag',
    'S-brt', 'Illu%', 'hEcl-Lon', 'hEcl-Lat', 'r', 'rdot', 'delta', 'deldot',
    'S-O-T', '/r', 'S-T-O', 'GlxLon', 'GlxLat', 'L_Ap_SOL_Time', 'RA_3sigma', 'DEC_3sigma',
    'SMAA_3sig', 'SMIA_3sig', 'Theta', 'Area_3sig', 'POS_3sigma', 'RNG_3sigma',
    'RNGRT_3sig', 'DOP_S_3sig', 'DOP_X_3sig', 'RT_delay_3sig', 'App_Lon_Sun',
    'RA_(ICRF-a-app)', 'DEC_(ICRF-a-app)', 'Sky_motion', 'Sky_mot_PA', 'RelVel-ANG',
    'Lun_Sky_Brt', 'sky_SNR']
    writer.writerow(columns)
    while True:
        line = file.readline()

        if not line:
            break
        else:
            #print('yes')
            if '$$SOE' in line:

                count += 1
            elif '$$EOE' in line:
                count += 1
            if count == 1 and '$$SOE' not in line:
                line = line.replace(' ', '')
                line = line.split(',')
                line.remove('')
                line.remove('')

                writer.writerow(line)
    file.close()
    file2.close()

In [3]:
file = 'planets.txt'
export = 'planets2.csv'
read_file_and_export(file, export)

FileExistsError: [Errno 17] File exists: 'planets2.csv'

In [4]:

df = pd.read_csv(export, na_values='n.a.')

In [5]:
df

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,Lun_Sky_Brt,sky_SNR
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,NaN,NaN,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870,n.a.n.a.\r\n,NaN
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,NaN,NaN,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690,n.a.n.a.\r\n,NaN
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,NaN,NaN,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510,n.a.n.a.\r\n,NaN
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,NaN,NaN,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340,n.a.n.a.\r\n,NaN
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,NaN,NaN,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170,n.a.n.a.\r\n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,NaN,NaN,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759,n.a.n.a.\r\n,NaN
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,NaN,NaN,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076,n.a.n.a.\r\n,NaN
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,NaN,NaN,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409,n.a.n.a.\r\n,NaN
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,NaN,NaN,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757,n.a.n.a.\r\n,NaN
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,NaN,NaN,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121,n.a.n.a.\r\n,NaN

In [61]:
df.dtypes

Date__(UT)__HR:MN     object
R.A._(ICRF)          float64
DEC__(ICRF)          float64
APmag                float64
S-brt                float64
Illu%                float64
hEcl-Lon             float64
hEcl-Lat             float64
r                    float64
rdot                 float64
delta                float64
deldot               float64
S-O-T                float64
/r                    object
S-T-O                float64
GlxLon               float64
GlxLat               float64
L_Ap_SOL_Time        float64
RA_3sigma            float64
DEC_3sigma           float64
SMAA_3sig            float64
SMIA_3sig            float64
Theta                float64
Area_3sig            float64
POS_3sigma           float64
RNG_3sigma           float64
RNGRT_3sig           float64
DOP_S_3sig           float64
DOP_X_3sig           float64
RT_delay_3sig        float64
App_Lon_Sun          float64
RA_(ICRF-a-app)      float64
DEC_(ICRF-a-app)     float64
Sky_motion           float64
Sky_mot_PA           float64
RelVel-ANG           float64
Lun_Sky_Brt           object
sky_SNR              float64
dtype: object

In [62]:
df.isna().sum()

Date__(UT)__HR:MN        0
R.A._(ICRF)              0
DEC__(ICRF)              0
APmag                    0
S-brt                    0
Illu%                    0
hEcl-Lon                 0
hEcl-Lat                 0
r                        0
rdot                     0
delta                    0
deldot                   0
S-O-T                    0
/r                       0
S-T-O                    0
GlxLon                   0
GlxLat                   0
L_Ap_SOL_Time        62761
RA_3sigma            62761
DEC_3sigma           62761
SMAA_3sig            62761
SMIA_3sig            62761
Theta                62761
Area_3sig            62761
POS_3sigma           62761
RNG_3sigma           62761
RNGRT_3sig           62761
DOP_S_3sig           62761
DOP_X_3sig           62761
RT_delay_3sig        62761
App_Lon_Sun              0
RA_(ICRF-a-app)          0
DEC_(ICRF-a-app)         0
Sky_motion               0
Sky_mot_PA               0
RelVel-ANG               0
Lun_Sky_Brt              0
sky_SNR              62761
dtype: int64

In [63]:
df.shape

(62761, 38)

In [20]:
planets_copy = df.copy()
planets_copy.dropna(inplace=True, axis=1)

In [21]:
planets_copy.shape

(62761, 24)

In [66]:
planets_copy.Lun_Sky_Brt.unique()

array(['n.a.n.a.\r\n'], dtype=object)

In [67]:
# drop Lun_Sky_Brt column
planets_copy.drop('Lun_Sky_Brt', axis=1, inplace=True)

In [68]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [69]:
planets_copy['/r'].unique()

array(['/L', '/T'], dtype=object)

In [70]:
planets_copy['Date__(UT)__HR:MN'] = pd.to_datetime(planets_copy['Date__(UT)__HR:MN'], format='%Y-%b-%d%H:%M')

In [71]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-01-01 00:00:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-01-01 01:00:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-01-01 02:00:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-01-01 03:00:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-01-01 04:00:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 20:00:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-02-27 21:00:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-02-27 22:00:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-02-27 23:00:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-02-28 00:00:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [72]:
planets_copy['year'] = planets_copy['Date__(UT)__HR:MN'].dt.year
planets_copy['month'] = planets_copy['Date__(UT)__HR:MN'].dt.month
planets_copy['day'] = planets_copy['Date__(UT)__HR:MN'].dt.day
planets_copy['time'] = planets_copy['Date__(UT)__HR:MN'].dt.hour + planets_copy['Date__(UT)__HR:MN'].dt.minute / 60
planets_copy['date'] = planets_copy['Date__(UT)__HR:MN'].dt.date

In [73]:
planets_copy.head()
planets_copy['R.A._(ICRF)'] = pd.to_datetime(planets_copy['R.A._(ICRF)'], unit='s')
planets_copy['R.A._(ICRF)'] = planets_copy['R.A._(ICRF)'].dt.strftime('%H:%M:%S.%f')

In [74]:
planets_copy.dtypes

Date__(UT)__HR:MN    datetime64[ns]
R.A._(ICRF)                  object
DEC__(ICRF)                 float64
APmag                       float64
S-brt                       float64
Illu%                       float64
hEcl-Lon                    float64
hEcl-Lat                    float64
r                           float64
rdot                        float64
delta                       float64
deldot                      float64
S-O-T                       float64
/r                           object
S-T-O                       float64
GlxLon                      float64
GlxLat                      float64
App_Lon_Sun                 float64
RA_(ICRF-a-app)             float64
DEC_(ICRF-a-app)            float64
Sky_motion                  float64
Sky_mot_PA                  float64
RelVel-ANG                  float64
year                          int32
month                         int32
day                           int32
time                        float64
date                         object
dtype: object

In [75]:
planets_copy.head(-10)

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date
0,2016-01-01 00:00:00,13:25:27.620000,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,134727.18,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0.0,2016-01-01
1,2016-01-01 01:00:00,13:25:32.880000,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,134732.45,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,1.0,2016-01-01
2,2016-01-01 02:00:00,13:25:38.150000,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,134737.72,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,2.0,2016-01-01
3,2016-01-01 03:00:00,13:25:43.420000,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,134742.98,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,3.0,2016-01-01
4,2016-01-01 04:00:00,13:25:48.680000,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,134748.25,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,4.0,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62746,2023-02-27 10:00:00,14:05:34.840000,251934.0,0.413,4.631,89.98998,115.0739,1.6828,1.624811,1.486426,...,50735.12,251935.2,0.976441,86.614045,52.251454,2023,2,27,10.0,2023-02-27
62747,2023-02-27 11:00:00,14:05:39.160000,251937.6,0.397,4.614,89.98850,115.0930,1.6830,1.624847,1.485855,...,50739.43,251938.8,0.976942,86.620217,52.228614,2023,2,27,11.0,2023-02-27
62748,2023-02-27 12:00:00,14:05:43.470000,251941.2,0.414,4.630,89.98703,115.1121,1.6833,1.624882,1.485285,...,50743.75,251942.4,0.977442,86.626393,52.205789,2023,2,27,12.0,2023-02-27
62749,2023-02-27 13:00:00,14:05:47.790000,251944.8,0.399,4.614,89.98556,115.1313,1.6835,1.624918,1.484715,...,50748.07,251946.0,0.977941,86.632576,52.182980,2023,2,27,13.0,2023-02-27
62750,2023-02-27 14:00:00,14:05:52.110000,251948.4,0.395,4.610,89.98409,115.1504,1.6838,1.624954,1.484144,...,50752.39,251949.6,0.978440,86.638763,52.160187,2023,2,27,14.0,2023-02-27

In [46]:
# filter weekday monday to friday
planets_copy['weekday'] = planets_copy['Date__(UT)__HR:MN'].dt.dayofweek
planets_copy = planets_copy[planets_copy['weekday'] < 5]
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
0,2016-01-01 00:00:00,13:25:27.620000,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0.0,2016-01-01,4
1,2016-01-01 01:00:00,13:25:32.880000,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,1.0,2016-01-01,4
2,2016-01-01 02:00:00,13:25:38.150000,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,2.0,2016-01-01,4
3,2016-01-01 03:00:00,13:25:43.420000,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,3.0,2016-01-01,4
4,2016-01-01 04:00:00,13:25:48.680000,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,4.0,2016-01-01,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 20:00:00,14:06:58.080000,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,252011.0,0.981419,86.676005,52.023759,2023,2,27,20.0,2023-02-27,0
62757,2023-02-27 21:00:00,14:07:02.420000,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,252014.5,0.981914,86.682231,52.001076,2023,2,27,21.0,2023-02-27,0
62758,2023-02-27 22:00:00,14:07:06.760000,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,252018.1,0.982408,86.688463,51.978409,2023,2,27,22.0,2023-02-27,0
62759,2023-02-27 23:00:00,14:07:11.100000,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,252021.6,0.982901,86.694700,51.955757,2023,2,27,23.0,2023-02-27,0
62760,2023-02-28 00:00:00,14:07:15.440000,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,252025.1,0.983394,86.700942,51.933121,2023,2,28,0.0,2023-02-28,1

In [47]:
def filter_by_time(df, start, end):
    df.query('time >= @start and time <= @end', inplace=True)
    return df
work_hour_df = filter_by_time(planets_copy, 9, 17)
work_hour_df.shape

C:\Users\alexg\AppData\Local\Temp\ipykernel_1908\2432298560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.query('time >= @start and time <= @end', inplace=True)

(16803, 29)

In [48]:
#import holidays
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()

holidays = cal.holidays(start=work_hour_df['Date__(UT)__HR:MN'].min(), end=work_hour_df['Date__(UT)__HR:MN'].max())
holidays
holidays = pd.to_datetime(holidays, format='%Y-%b-%d%H:%M')
holidays

DatetimeIndex(['2016-01-18', '2016-02-15', '2016-05-30', '2016-07-04',
               '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24',
               '2016-12-26', '2017-01-02', '2017-01-16', '2017-02-20',
               '2017-05-29', '2017-07-04', '2017-09-04', '2017-10-09',
               '2017-11-10', '2017-11-23', '2017-12-25', '2018-01-01',
               '2018-01-15', '2018-02-19', '2018-05-28', '2018-07-04',
               '2018-09-03', '2018-10-08', '2018-11-12', '2018-11-22',
               '2018-12-25', '2019-01-01', '2019-01-21', '2019-02-18',
               '2019-05-27', '2019-07-04', '2019-09-02', '2019-10-14',
               '2019-11-11', '2019-11-28', '2019-12-25', '2020-01-01',
               '2020-01-20', '2020-02-17', '2020-05-25', '2020-07-03',
               '2020-09-07', '2020-10-12', '2020-11-11', '2020-11-26',
               '2020-12-25', '2021-01-01', '2021-01-18', '2021-02-15',
               '2021-05-31', '2021-06-18', '2021-07-05', '2021-09-06',
               '2021-10-11', '2021-11-11', '2021-11-25', '2021-12-24',
               '2021-12-31', '2022-01-17', '2022-02-21', '2022-05-30',
               '2022-06-20', '2022-07-04', '2022-09-05', '2022-10-10',
               '2022-11-11', '2022-11-24', '2022-12-26', '2023-01-02',
               '2023-01-16', '2023-02-20'],
              dtype='datetime64[ns]', freq=None)

In [49]:
# filter out holidays
work_hour_df = work_hour_df[~work_hour_df['date'].isin(holidays)]
work_hour_df.shape

(16803, 29)

In [50]:
work_hour_df.head(10)

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
9,2016-01-01 09:00:00,13:26:55.010000,-93318.2,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,...,-93316.3,1.387498,110.67384,-30.93041,2016,1,1,9.0,2016-01-01,4
10,2016-01-01 10:00:00,13:27:00.269999,-93347.6,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,...,-93345.8,1.387355,110.66985,-30.94227,2016,1,1,10.0,2016-01-01,4
11,2016-01-01 11:00:00,13:27:05.540000,-93417.1,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,...,-93415.2,1.387212,110.66586,-30.95413,2016,1,1,11.0,2016-01-01,4
12,2016-01-01 12:00:00,13:27:10.799999,-93446.5,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,...,-93444.7,1.387069,110.66186,-30.96600,2016,1,1,12.0,2016-01-01,4
13,2016-01-01 13:00:00,13:27:16.060000,-93515.9,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,...,-93514.1,1.386926,110.65786,-30.97788,2016,1,1,13.0,2016-01-01,4
14,2016-01-01 14:00:00,13:27:21.329999,-93545.3,1.237,4.609,91.31165,174.3645,1.5169,1.657498,-0.707313,...,-93543.5,1.386783,110.65386,-30.98976,2016,1,1,14.0,2016-01-01,4
15,2016-01-01 15:00:00,13:27:26.590000,-93614.8,1.243,4.615,91.30931,174.3829,1.5166,1.657481,-0.708002,...,-93612.9,1.386639,110.64986,-31.00164,2016,1,1,15.0,2016-01-01,4
16,2016-01-01 16:00:00,13:27:31.850000,-93644.1,1.249,4.622,91.30698,174.4013,1.5163,1.657464,-0.708691,...,-93642.3,1.386496,110.64586,-31.01353,2016,1,1,16.0,2016-01-01,4
17,2016-01-01 17:00:00,13:27:37.109999,-93713.5,1.227,4.600,91.30465,174.4197,1.5159,1.657447,-0.709379,...,-93711.7,1.386352,110.64185,-31.02543,2016,1,1,17.0,2016-01-01,4
81,2016-01-04 09:00:00,13:37:13.299999,-100816.6,1.139,4.544,91.15779,175.5966,1.4939,1.656321,-0.753322,...,-100815.0,1.376839,110.38058,-31.79616,2016,1,4,9.0,2016-01-04,0

In [51]:
work_hour_df.dtypes

Date__(UT)__HR:MN    datetime64[ns]
R.A._(ICRF)                  object
DEC__(ICRF)                 float64
APmag                       float64
S-brt                       float64
Illu%                       float64
hEcl-Lon                    float64
hEcl-Lat                    float64
r                           float64
rdot                        float64
delta                       float64
deldot                      float64
S-O-T                       float64
/r                           object
S-T-O                       float64
GlxLon                      float64
GlxLat                      float64
App_Lon_Sun                 float64
RA_(ICRF-a-app)             float64
DEC_(ICRF-a-app)            float64
Sky_motion                  float64
Sky_mot_PA                  float64
RelVel-ANG                  float64
year                          int32
month                         int32
day                           int32
time                        float64
date                         object
weekday                       int32
dtype: object

In [52]:
work_hour_df['/r'] = work_hour_df['/r'].replace({'/T': 1,
                            '/L': 0})

In [53]:
work_hour_df['/r'].value_counts()

/r
0    8604
1    8199
Name: count, dtype: int64

In [57]:
work_hour_df['date'] = pd.to_datetime(work_hour_df['date'])

In [80]:
work_hour_df.drop('R.A._(ICRF)', axis=1, inplace=True)

In [81]:
work_hour_df

,Date__(UT)__HR:MN,DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
9,2016-01-01 09:00:00,-93318.2,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,1.680220,...,-93316.3,1.387498,110.673840,-30.930410,2016,1,1,9.0,2016-01-01,4
10,2016-01-01 10:00:00,-93347.6,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,1.679814,...,-93345.8,1.387355,110.669850,-30.942270,2016,1,1,10.0,2016-01-01,4
11,2016-01-01 11:00:00,-93417.1,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,1.679407,...,-93415.2,1.387212,110.665860,-30.954130,2016,1,1,11.0,2016-01-01,4
12,2016-01-01 12:00:00,-93446.5,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,1.679001,...,-93444.7,1.387069,110.661860,-30.966000,2016,1,1,12.0,2016-01-01,4
13,2016-01-01 13:00:00,-93515.9,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,1.678594,...,-93514.1,1.386926,110.657860,-30.977880,2016,1,1,13.0,2016-01-01,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62749,2023-02-27 13:00:00,251944.8,0.399,4.614,89.98556,115.1313,1.6835,1.624918,1.484715,1.129893,...,251946.0,0.977941,86.632576,52.182980,2023,2,27,13.0,2023-02-27,0
62750,2023-02-27 14:00:00,251948.4,0.395,4.610,89.98409,115.1504,1.6838,1.624954,1.484144,1.130307,...,251949.6,0.978440,86.638763,52.160187,2023,2,27,14.0,2023-02-27,0
62751,2023-02-27 15:00:00,251951.9,0.406,4.620,89.98263,115.1695,1.6840,1.624989,1.483573,1.130721,...,251953.1,0.978938,86.644956,52.137410,2023,2,27,15.0,2023-02-27,0
62752,2023-02-27 16:00:00,251955.5,0.412,4.625,89.98118,115.1886,1.6843,1.625025,1.483002,1.131136,...,251956.7,0.979435,86.651155,52.114648,2023,2,27,16.0,2023-02-27,0
62753,2023-02-27 17:00:00,251959.1,0.416,4.628,89.97973,115.2077,1.6846,1.625061,1.482431,1.131550,...,252000.3,0.979932,86.657360,52.091902,2023,2,27,17.0,2023-02-27,0

In [1]:
import transformScript as tr
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
import torch

In [2]:
import os
file_path = '../Data/planets_txt/'
file_path_export = '../Data/planets_csv/'
planet_files = os.listdir(file_path)

In [51]:
file_path + planet_files[0]

'../Data/planets_txt/.ipynb_checkpoints'

In [6]:
planet_files

['jupiter.txt',
 'mars.txt',
 'mercury.txt',
 'neptune.txt',
 'saturn.txt',
 'uranus.txt',
 'venus.txt']

In [100]:
for filename in tqdm(planet_files):
    tr.read_file_and_export('{}{}'.format(file_path, filename),file_path_export +filename[:-3] + 'csv')

100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:07<00:00,  1.09s/it]

In [90]:
pd.read_csv('../Data/planets_csv/jupiter.csv').columns

Index(['Date__(UT)__HR:MN', 'R.A._(ICRF)', 'DEC__(ICRF)', 'APmag', 'S-brt',
       'Illu%', 'hEcl-Lon', 'hEcl-Lat', 'r', 'rdot', 'delta', 'deldot',
       'S-O-T', '/r', 'S-T-O', 'GlxLon', 'GlxLat', 'L_Ap_SOL_Time',
       'RA_3sigma', 'DEC_3sigma', 'SMAA_3sig', 'SMIA_3sig', 'Theta',
       'Area_3sig', 'POS_3sigma', 'RNG_3sigma', 'RNGRT_3sig', 'DOP_S_3sig',
       'DOP_X_3sig', 'RT_delay_3sig', 'App_Lon_Sun', 'RA_(ICRF-a-app)',
       'DEC_(ICRF-a-app)', 'Sky_motion', 'Sky_mot_PA', 'RelVel-ANG',
       'Lun_Sky_Brt', 'sky_SNR'],
      dtype='object')

In [79]:
pd.read_csv('../Data/planets_csv/venus.csv')columns

C:\Users\alexg\AppData\Local\Temp\ipykernel_26788\4094665088.py:1: DtypeWarning: Columns (3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('../Data/planets_csv/venus.csv')

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,Lun_Sky_Brt,sky_SNR
0,2020-Jan-0100:00,210839.62,-182040.6,-3.973,1.131,82.16260,4.1454,-3.2374,0.726267,-0.187610,...,3.062601,72.569754,-11.64587,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-Jan-0100:30,210845.78,-182013.2,-3.973,1.131,82.15752,4.1785,-3.2369,0.726264,-0.187693,...,3.062563,72.561115,-11.64832,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-Jan-0101:00,210851.93,-181945.8,-3.973,1.131,82.15243,4.2117,-3.2363,0.726262,-0.187776,...,3.062525,72.552479,-11.65076,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-Jan-0101:30,210858.09,-181918.3,-3.973,1.131,82.14734,4.2449,-3.2357,0.726260,-0.187859,...,3.062488,72.543847,-11.65321,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-Jan-0102:00,210904.25,-181850.9,-3.973,1.131,82.14225,4.2780,-3.2351,0.726257,-0.187941,...,3.062450,72.535219,-11.65566,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57692,2023-Apr-1622:00,41627.17,230850.1,-4.072,1.245,71.97843,130.2995,2.7362,0.718442,-0.004387,...,2.888840,77.664083,-17.85624,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
57693,2023-Apr-1622:30,41633.31,230908.8,-4.072,1.245,71.97081,130.3333,2.7374,0.718442,-0.004247,...,2.888730,77.674073,-17.86093,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
57694,2023-Apr-1623:00,41639.45,230927.4,-4.072,1.245,71.96318,130.3672,2.7386,0.718442,-0.004108,...,2.888619,77.684066,-17.86562,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
57695,2023-Apr-1623:30,41645.58,230946.1,-4.073,1.245,71.95556,130.4010,2.7398,0.718442,-0.003968,...,2.888508,77.694062,-17.87031,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN
57696,2023-Apr-1700:00,41651.72,231004.8,-4.073,1.245,71.94793,130.4349,2.7409,0.718442,-0.003829,...,2.888398,77.704061,-17.87501,n.a.n.a.\r\n,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
os.listdir(file_path_export)

['jupiter.csv',
 'mars.csv',
 'mercury.csv',
 'neptune.csv',
 'saturn.csv',
 'uranus.csv',
 'venus.csv']

In [11]:
result = np.zeros(7)

NameError: name 'np' is not defined

In [43]:
torch.stack(tensor_list)

RuntimeError: stack expects each tensor to be equal size, but got [39505, 104] at entry 0 and [39505, 102] at entry 6

In [72]:
import torch
import pandas as pd
import os
from tqdm import tqdm

tensor_list = []

for x, file in tqdm(enumerate(os.listdir(file_path_export))):
    df = pd.read_csv('{}{}'.format(file_path_export,file), ).dropna(axis = 0)
    print(file)
    print(df.shape)

    # create a new DataFrame with 100 columns of all zeros
    dummy_df = pd.DataFrame(np.zeros((df.shape[0], 78)), index=df.index)

    # set column names for the dummy DataFrame
    dummy_df.columns = ['dummy_' + str(i) for i in range(78)]

    # concatenate the dummy DataFrame with the original DataFrame
    df = pd.concat([df, dummy_df], axis = 1)

    tens = torch.tensor(df.values)
    tensor_list.append(tens)
    print(tens.shape)

0it [00:00, ?it/s]

jupiter.csv
(0, 38)

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.

In [112]:
df_merged

,Date__(UT)__HR:MN,DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,...,DOP_S_3sig,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,year,month,day,time,date,weekday
48,2020-01-02 00:00:00,-193236.3,1.550,4.406,95.51381,214.3343,0.4837,1.588697,-1.924844,2.177212,...,-193233.0,1.681783,103.389180,-15.772610,2020,1,2,0.0,2020-01-02,3
49,2020-01-02 00:30:00,-193248.1,1.545,4.401,95.51235,214.3443,0.4834,1.588674,-1.925053,2.177061,...,-193244.8,1.681800,103.384370,-15.774940,2020,1,2,0.5,2020-01-02,3
50,2020-01-02 01:00:00,-193259.9,1.536,4.392,95.51090,214.3543,0.4830,1.588651,-1.925261,2.176911,...,-193256.6,1.681816,103.379570,-15.777270,2020,1,2,1.0,2020-01-02,3
51,2020-01-02 01:30:00,-193311.6,1.527,4.383,95.50945,214.3643,0.4827,1.588628,-1.925470,2.176760,...,-193308.3,1.681833,103.374760,-15.779600,2020,1,2,1.5,2020-01-02,3
52,2020-01-02 02:00:00,-193323.4,1.521,4.377,95.50799,214.3743,0.4824,1.588605,-1.925679,2.176610,...,-193320.1,1.681849,103.369960,-15.781930,2020,1,2,2.0,2020-01-02,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57596,2023-04-14 22:00:00,245834.5,1.171,4.652,90.48323,135.9808,1.8445,1.655515,0.779275,1.588853,...,245835.5,1.314040,95.623003,33.226407,2023,4,14,22.0,2023-04-14,4
57597,2023-04-14 22:30:00,245830.8,1.166,4.647,90.48413,135.9900,1.8445,1.655524,0.778933,1.589052,...,245831.8,1.314129,95.627557,33.219901,2023,4,14,22.5,2023-04-14,4
57598,2023-04-14 23:00:00,245827.0,1.156,4.637,90.48502,135.9992,1.8445,1.655533,0.778592,1.589251,...,245828.0,1.314218,95.632110,33.213396,2023,4,14,23.0,2023-04-14,4
57599,2023-04-14 23:30:00,245823.2,1.146,4.627,90.48591,136.0084,1.8445,1.655543,0.778250,1.589450,...,245824.2,1.314307,95.636664,33.206892,2023,4,14,23.5,2023-04-14,4
57696,2023-04-17 00:00:00,245200.8,1.189,4.644,90.57427,136.9014,1.8460,1.656432,0.745036,1.608690,...,245201.9,1.322811,96.078950,32.579447,2023,4,17,0.0,2023-04-17,0

In [3]:
import pandas as pd
import os
from tqdm import tqdm

dfs_merged = pd.DataFrame()

# loop through each file in the directory
for n, file in tqdm(enumerate(os.listdir(file_path_export))):
    # read the CSV file into a DataFrame
    #df_merged = tr.read_csv_transform(file_path_export+file, '')
    if n == 0:
        df_merged = tr.read_csv_transform(file_path_export+file, '')
        dfs_merged = pd.concat([dfs_merged, df_merged], axis=1)
    # append the DataFrame to the list
    else:
        df_merged = tr.read_csv_transform(file_path_export+file, '').drop(["year", "month", "date", "time", "day", "weekday","Date__(UT)__HR:MN"], axis = 1)
        dfs_merged = pd.concat([dfs_merged, df_merged], axis=1)
    print(dfs_merged.shape)

# reset the index
dfs_merged.reset_index(drop=True, inplace=True)

0it [00:00, ?it/s]

TypeError: 'Holiday' object is not subscriptable

In [16]:
dfs_merged.to_csv("MergedData.csv")

In [12]:
dfs_merged["Date__(UT)__HR:MN"].dtype

dtype('<M8[ns]')

In [29]:
stocks = pd.read_csv('../Data/stocks/stocks_csv/stocks.csv')

In [30]:
stocks.datetime = pd.to_datetime(stocks.datetime)

In [31]:
stocks = stocks[~stocks.datetime.isin(dfs_merged["Date__(UT)__HR:MN"])]

In [32]:
stocks

,Unnamed: 0,datetime,open_x_0,high_x_0,low_x_0,close_x_0,volume_x_0,open_y_0,high_y_0,low_y_0,...,low_x_9,close_x_9,volume_x_9,open_y_9,high_y_9,low_y_9,close_y_9,volume_y_9,date,hour
555,555,2022-11-11 15:30:00,224.42500,224.66000,223.14999,223.31000,259053,184.75999,185.03999,183.57001,...,37.6200,37.6800,590792,55.350,55.4100,55.1200,55.380,376955,2022-11-11,15.5
556,556,2022-11-11 14:30:00,224.99001,225.05000,223.91000,224.47000,204579,184.00999,185.30000,184.00999,...,37.6900,37.8000,439456,55.960,56.1000,55.3400,55.360,299639,2022-11-11,14.5
557,557,2022-11-11 13:30:00,224.25999,225.09000,223.73000,225.00000,172155,183.32001,184.16000,182.90500,...,37.9100,38.0200,300090,55.730,56.0400,55.6300,55.970,210969,2022-11-11,13.5
558,558,2022-11-11 12:30:00,222.92000,224.84000,222.84000,224.32001,197641,182.78999,183.75999,182.22000,...,37.7900,37.9500,303028,55.335,55.8800,55.2900,55.735,176449,2022-11-11,12.5
559,559,2022-11-11 11:30:00,223.46680,224.66000,222.39999,222.84000,190225,182.14500,183.09000,181.79500,...,37.6800,38.1100,299054,55.090,55.4600,55.0700,55.330,175532,2022-11-11,11.5
560,560,2022-11-11 10:30:00,224.87000,224.99500,222.74001,223.67999,276261,183.50000,183.50000,180.96001,...,37.4950,37.6750,264481,55.340,55.4000,54.9100,55.115,230029,2022-11-11,10.5
561,561,2022-11-11 09:30:00,222.81000,225.44000,221.02000,224.81000,300194,182.86000,185.00999,182.36000,...,36.8000,37.9300,1413315,54.080,55.5800,53.7000,55.350,558902,2022-11-11,9.5
723,723,2022-10-10 15:30:00,189.94000,191.05000,189.42000,189.58000,390697,165.53000,165.96001,165.31000,...,31.3600,31.3700,342143,49.980,50.1500,49.9300,49.950,179513,2022-10-10,15.5
724,724,2022-10-10 14:30:00,190.25000,190.47000,189.13000,189.92000,342390,164.53000,166.12000,164.53000,...,31.3400,31.3900,133048,49.910,50.2100,49.8900,50.000,100443,2022-10-10,14.5
725,725,2022-10-10 13:30:00,191.61000,192.44000,190.27000,190.30000,198155,164.28999,165.21001,164.28999,...,31.2500,31.3900,160436,49.590,50.0900,49.5900,49.920,106926,2022-10-10,13.5
726,726,2022-10-10 12:30:00,191.47000,191.78000,190.46001,191.69000,146866,164.72000,164.72000,163.78999,...,31.0900,31.2500,99875,50.090,50.0900,49.5600,49.610,93587,2022-10-10,12.5
727,727,2022-10-10 11:30:00,193.20000,193.28999,191.44000,191.49001,160883,165.82001,166.14999,164.64999,...,31.2100,31.2100,96302,50.410,50.4800,50.0600,50.080,56602,2022-10-10,11.5
728,728,2022-10-10 10:30:00,194.31000,194.44000,192.12000,193.31000,246076,166.85001,167.22000,165.47000,...,31.3200,31.4600,123955,50.740,50.8000,50.3100,50.440,262158,2022-10-10,10.5
729,729,2022-10-10 09:30:00,196.03999,198.05000,193.78999,194.60001,228156,167.19000,167.19000,165.82001,...,31.4300,31.5600,232744,50.970,50.9800,50.3100,50.760,108780,2022-10-10,9.5
2037,2037,2021-12-31 15:30:00,293.62000,293.85999,292.38501,292.50000,229930,216.81000,217.53999,216.53000,...,44.2100,44.3600,211287,63.260,63.3600,63.1400,63.170,95017,2021-12-31,15.5
2038,2038,2021-12-31 14:30:00,293.63000,293.88000,293.17001,293.59000,112306,216.77000,217.06000,216.64000,...,44.2000,44.2600,100749,63.305,63.3300,63.1200,63.260,41905,2021-12-31,14.5
2039,2039,2021-12-31 13:30:00,293.92999,294.39999,293.34000,293.64001,89007,217.08000,217.55000,216.62000,...,44.1900,44.2150,87221,63.250,63.4200,63.2300,63.335,34712,2021-12-31,13.5
2040,2040,2021-12-31 12:30:00,293.00000,293.89999,293.00000,293.89999,66094,216.05499,217.02000,216.05499,...,44.0600,44.2100,156641,63.130,63.3800,63.0800,63.230,61744,2021-12-31,12.5
2041,2041,2021-12-31 11:30:00,292.85001,293.66501,292.80499,293.22000,70335,216.23000,216.41000,215.77000,...,44.0700,44.0800,128286,63.080,63.1700,62.9700,63.140,74147,2021-12-31,11.5
2042,2042,2021-12-31 10:30:00,292.82001,293.57001,292.04001,293.01001,115707,215.45000,216.77000,215.45000,...,44.1300,44.2500,88101,62.860,63.1200,62.7000,63.080,50656,2021-12-31,10.5
2043,2043,2021-12-31 09:30:00,291.39999,292.92001,289.94000,292.82001,136104,214.42000,216.32001,214.42000,...,44.0400,44.2300,48275,62.870,63.3400,62.5501,62.940,66724,2021-12-31,9.5
2255,2255,2021-11-11 15:30:00,272.78000,272.88501,272.14001,272.49500,237675,221.47000,222.31000,221.09000,...,49.6700,49.6900,237953,66.060,66.1000,65.8400,65.890,216967,2021-11-11,15.5
2256,2256,2021-11-11 14:30:00,272.23001,272.89001,272.22000,272.87000,105716,222.13000,222.44501,221.53999,...,49.7650,49.8550,258975,66.150,66.1600,65.9400,66.050,116203,2021-11-11,14.5
2257,2257,2021-11-11 13:30:00,272.07001,273.23001,272.04999,272.25500,125757,222.49001,222.49001,221.55000,...,49.5500,49.8500,175207,66.200,66.3900,66.0900,66.160,80884,2021-11-11,13.5
2258,2258,2021-11-11 12:30:00,271.13000,272.51999,271.04071,272.13000,134229,223.26500,223.34000,222.52499,...,49.5500,49.6550,94187,66.380,66.4500,66.1200,66.190,72393,2021-11-11,12.5
2259,2259,2021-11-11 11:30:00,271.35501,272.10999,270.42001,271.06500,155666,223.21001,223.21001,222.59000,...,49.2600,49.6600,99971,65.965,66.4210,65.9650,66.420,87079,2021-11-11,11.5
2260,2260,2021-11-11 10:30:00,273.66000,273.73999,271.23001,271.37000,112656,221.67999,222.75999,221.64999,...,49.0050,49.2550,130997,65.590,65.9900,65.5900,65.980,93704,2021-11-11,10.5
2261,2261,2021-11-11 09:30:00,276.07001,276.19000,272.51999,273.73999,204449,222.65500,223.86290,221.61000,...,48.7700,49.1850,118916,65.180,65.9900,65.0200,65.610,124570,2021-11-11,9.5
2416,2416,2021-10-11 15:30:00,261.33899,261.76001,261.06000,261.62000,192986,206.34000,206.39999,205.88000,...,51.1250,51.2300,382402,62.810,62.9200,62.4000,62.440,130515,2021-10-11,15.5
2417,2417,2021-10-11 14:30:00,261.48999,261.67999,261.20001,261.32001,91617,206.34500,206.96989,206.31000,...,51.2770,51.2770,143171,62.700,62.9500,62.5900,62.810,83544,2021-10-11,14.5
2418,2418,2021-10-11 13:30:00,261.98901,262.17001,261.41000,261.48999,76788,205.45551,206.64000,205.45551,...,51.1900,51.3600,120943,63.030,63.1600,62.6350,62.700,117778,2021-10-11,13.5
2419,2419,2021-10-11 12:30:00,262.20001,262.79001,261.89001,261.92001,108717,207.07001,207.07001,205.57500,...,51.2000,51.2150,59184,63.390,63.4864,62.9600,63.000,127948,2021-10-11,12.5
2420,2420,2021-10-11 11:30:00,262.54001,263.38000,262.09000,262.23499,89600,208.00999,208.00999,207.03000,...,51.3500,51.4400,55062,64.050,64.1135,63.3500,63.390,62791,2021-10-11,11.5
2421,2421,2021-10-11 10:30:00,262.54001,263.45001,262.37000,262.45001,114822,208.12500,208.84200,207.70000,...,51.2800,51.5250,131035,64.260,64.3150,63.9500,64.090,60205,2021-10-11,10.5
2422,2422,2021-10-11 09:30:00,262.34000,262.70999,260.52271,262.60999,206103,207.64000,208.21001,206.88000,...,50.3500,51.3100,88864,64.080,64.3900,63.4800,64.270,106162,2021-10-11,9.5
2968,2968,2021-06-18 15:30:00,267.98001,268.17001,265.88000,265.88000,264238,206.33000,206.60500,205.27000,...,51.9600,51.9800,511855,50.300,50.5650,50.2100,50.300,413853,2021-06-18,15.5
2969,2969,2021-06-18 14:30:00,267.54999,268.20999,267.39389,268.10001,93777,206.55000,206.64000,206.09000,...,52.2900,52.3200,395320,50.615,50.6150,50.0200,50.300,186165,2021-06-18,14.5
2970,2970,2021-06-18 13:30:00,267.26999,267.64001,266.70001,267.51001,71310,205.37000,206.57001,205.25000,...,52.2800,52.4400,136272,50.790,50.9100,50.6100,50.670,145888,2021-06-18,13.5
2971,2971,2021-06-18 12:30:00,267.50000,268.00000,267.20001,267.20999,85146,205.45000,205.59000,204.80000,...,52.2400,52.3250,113976,50.840,50.8500,50.4750,50.800,110994,2021-06-18,12.5
2972,2972,2021-06-18 11:30:00,267.04999,268.38000,267.04999,267.54001,93770,205.00000,206.05000,205.00000,...,52.4850,52.5162,109205,50.830,51.1900,50.7350,50.840,130960,2021-06-18,11.5
2973,2973,2021-06-18 10:30:00,267.95999,268.61600,266.69000,267.07001,117217,205.20000,205.61000,204.59000,...,52.1300,52.5550,182365,49.920,51.0700,49.8350,50.830,304908,2021-06-18,10.5
2974,2974,2021-06-18 09:30:00,268.97000,269.57999,267.26001,268.17999,1046962,204.02000,207.09000,202.75000,...,51.4200,52.1950,774777,50.670,51.1050,49.7900,49.861,373816,2021-06-18,9.5
4007,4007,2020-11-11 15:30:00,237.45500,238.53000,237.44000,238.31000,205608,151.10500,151.94000,150.95000,...,40.9400,41.2300,286220,36.860,37.2700,36.8600,37.260,462870,2020-11-11,15.5
4008,4008,2020-11-11 14:30:00,238.38000,238.87000,237.42000,237.50999,116798,151.48000,151.86000,151.10001,...,40.9800,40.9800,237982,37.130,37.2000,36.8500,36.860,236017,2020-11-11,14.5
4009,4009,2020-11-11 13:30:00,240.11501,240.53000,238.22000,238.33501,98956,152.38000,152.42999,151.27499,...,41.1100,41.1100,158065,37.300,37.3200,37.1000,37.140,283323,2020-11-11,13.5
4010,4010,2020-11-11 12:30:00,240.72000,240.88000,239.49001,240.05000,157842,152.50000,152.78500,152.22000,...,41.3000,41.4400,115624,37.260,37.5100,37.1100,37.290,173233,2020-11-11,12.5
4011,4011,2020-11-11 11:30:00,240.28000,241.15500,240.25000,240.63499,131508,153.08000,153.23000,152.33000,...,41.3701,41.3701,128977,37.405,37.6200,37.2350,37.270,253117,2020-11-11,11.5
4012,4012,2020-11-11 10:30:00,240.40500,241.42999,239.39500,240.21001,167771,151.23000,153.10001,151.23000,...,41.2800,41.6250,134988,37.015,37.4300,36.7900,37.400,284077,2020-11-11,10.5
4013,4013,2020-11-11 09:30:00,234.35001,241.38000,233.31500,240.35001,437186,151.08000,152.97000,150.33000,...,41.1100,41.3200,402340,38.780,39.0000,36.5000,37.000,819343,2020-11-11,9.5
4161,4161,2020-10-12 15:30:00,247.00000,247.07500,246.21001,246.45000,269676,129.95000,129.97000,129.09000,...,38.9600,38.9800,382773,31.860,31.9000,31.7300,31.830,226446,2020-10-12,15.5
4162,4162,2020-10-12 14:30:00,247.46420,247.48500,246.85500,247.00000,156995,129.73000,130.28999,129.45000,...,39.0401,39.1500,253711,31.505,31.9000,31.4800,31.850,131791,2020-10-12,14.5
4163,4163,2020-10-12 13:30:00,247.00999,247.76041,246.55850,247.47000,130097,130.25000,130.25000,129.57001,...,39.1300,39.2800,436182,31.500,31.5600,31.4200,31.520,119307,2020-10-12,13.5
4164,4164,2020-10-12 12:30:00,246.97501,247.09500,246.34000,247.09500,109922,131.09000,131.10500,130.17500,...,39.8400,40.1350,366508,31.630,31.6550,31.4900,31.490,88530,2020-10-12,12.5
4165,4165,2020-10-12 11:30:00,247.10500,247.45000,246.71100,247.07001,74132,130.81500,131.21001,130.38000,...,39.5500,40.0250,451920,31.720,31.7300,31.5600,31.660,64721,2020-10-12,11.5
4166,4166,2020-10-12 10:30:00,246.21001,247.28999,246.21001,247.11501,137323,130.55499,131.07001,129.78000,...,39.3458,39.6200,397769,31.675,31.7850,31.6100,31.745,103757,2020-10-12,10.5
4167,4167,2020-10-12 09:30:00,245.57001,246.73000,244.35001,246.45000,167115,131.50000,131.53500,129.50000,...,37.8000,39.6350,1037281,31.540,31.7482,31.4200,31.695,82731,2020-10-12,9.5
4679,4679,2020-06-26 15:30:00,253.57001,253.57001,244.02000,245.77000,723806,109.75000,110.62500,109.46000,...,26.3500,26.6800,646809,32.315,32.4400,32.2150,32.280,177484,2020-06-26,15.5

In [43]:
stocks.drop(['date', 'hour'], axis = 1,inplace = True)

In [35]:
import numpy as np

In [36]:
stonk_arry = stocks.values

In [37]:
stonk_arry.shape

(4680, 104)

In [44]:
pd.concat([dfs_merged, stocks], axis = 1)

,Date__(UT)__HR:MN,DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,...,open_x_9,high_x_9,low_x_9,close_x_9,volume_x_9,open_y_9,high_y_9,low_y_9,close_y_9,volume_y_9
0,2020-01-02 00:00:00,-231101.3,-1.839,5.408,99.99538,275.8558,0.1059,5.227226,-0.631326,6.207467,...,29.690,29.820,29.500,29.700,148857.0,39.060,39.935,39.0050,39.880,1173234.0
1,2020-01-02 00:30:00,-231100.6,-1.839,5.408,99.99535,275.8575,0.1059,5.227218,-0.631324,6.207435,...,30.100,30.180,29.650,29.695,188858.0,39.660,40.160,39.0301,39.045,512917.0
2,2020-01-02 01:00:00,-231059.8,-1.839,5.408,99.99531,275.8593,0.1059,5.227210,-0.631319,6.207403,...,30.435,30.540,30.015,30.070,174856.0,42.150,42.570,39.5057,39.670,1347318.0
3,2020-01-02 01:30:00,-231059.1,-1.839,5.408,99.99527,275.8610,0.1058,5.227203,-0.631309,6.207370,...,30.270,30.445,30.110,30.440,211079.0,40.720,42.160,39.2600,42.140,1467910.0
4,2020-01-02 02:00:00,-231058.3,-1.839,5.408,99.99524,275.8627,0.1058,5.227195,-0.631295,6.207338,...,30.500,30.550,30.010,30.255,267587.0,37.688,41.035,34.3900,40.740,3917521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39500,2023-04-14 22:00:00,73830.0,-2.046,5.291,99.99810,21.7115,-1.2788,4.953084,0.085977,5.954961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39501,2023-04-14 22:30:00,73836.7,-2.046,5.291,99.99808,21.7134,-1.2788,4.953085,0.086047,5.954955,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39502,2023-04-14 23:00:00,73843.5,-2.046,5.291,99.99806,21.7153,-1.2788,4.953086,0.086114,5.954949,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39503,2023-04-14 23:30:00,73850.2,-2.046,5.291,99.99804,21.7172,-1.2788,4.953087,0.086178,5.954944,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39504,2023-04-17 00:00:00,74942.6,-2.046,5.291,99.99522,21.9023,-1.2779,4.953188,0.087310,5.953975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_merged

,DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,deldot,...,/r,S-T-O,GlxLon,GlxLat,RNG_3sigma,RNGRT_3sig,DOP_S_3sig,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun
8496,141147.3,5.874,8.292,99.95550,36.9862,-0.4648,19.796532,-0.219268,20.359320,-23.962262,...,0,2.4143,155.632919,-42.423580,49.440226,22836.03,141143.8,0.094949,71.869881,-45.722030
8497,141148.2,5.874,8.292,99.95548,36.9865,-0.4648,19.796529,-0.219273,20.359032,-23.967841,...,0,2.4148,155.633639,-42.422991,49.440453,22836.22,141144.7,0.094917,71.870309,-45.738750
8498,141149.1,5.874,8.292,99.95546,36.9867,-0.4648,19.796527,-0.219278,20.358744,-23.973417,...,0,2.4154,155.634358,-42.422403,49.440680,22836.40,141145.6,0.094885,71.870736,-45.755470
8499,141150.0,5.874,8.292,99.95544,36.9869,-0.4648,19.796524,-0.219284,20.358455,-23.978990,...,0,2.4160,155.635077,-42.421815,49.440908,22836.59,141146.5,0.094853,71.871162,-45.772190
8500,141150.9,5.874,8.292,99.95542,36.9871,-0.4648,19.796521,-0.219290,20.358167,-23.984560,...,0,2.4165,155.635796,-42.421227,49.441135,22836.77,141147.3,0.094821,71.871588,-45.788910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55915,161051.7,5.835,8.267,99.95636,47.9474,-0.3395,19.659528,-0.262498,20.200126,24.522134,...,1,2.3973,160.691968,-37.642630,60.402122,25243.94,161048.3,0.094549,72.681220,46.725677
55916,161052.5,5.835,8.267,99.95638,47.9477,-0.3395,19.659525,-0.262500,20.200421,24.516398,...,1,2.3967,160.692580,-37.642011,60.402353,25244.13,161049.1,0.094583,72.681745,46.708338
55917,161053.4,5.835,8.267,99.95640,47.9479,-0.3395,19.659522,-0.262502,20.200716,24.510660,...,1,2.3961,160.693192,-37.641391,60.402583,25244.32,161050.0,0.094617,72.682269,46.690999
55918,161054.2,5.835,8.267,99.95642,47.9481,-0.3395,19.659518,-0.262504,20.201011,24.504918,...,1,2.3956,160.693804,-37.640771,60.402814,25244.50,161050.8,0.094650,72.682793,46.673661
55919,161055.1,5.835,8.267,99.95644,47.9484,-0.3394,19.659515,-0.262506,20.201305,24.499174,...,1,2.3950,160.694416,-37.640151,60.403045,25244.69,161051.7,0.094684,72.683317,46.656324

In [47]:
stocks

,Unnamed: 0,datetime,open_x_0,high_x_0,low_x_0,close_x_0,volume_x_0,open_y_0,high_y_0,low_y_0,...,open_x_9,high_x_9,low_x_9,close_x_9,volume_x_9,open_y_9,high_y_9,low_y_9,close_y_9,volume_y_9
0,0,2023-03-10 13:30:00,190.89999,192.44000,190.49001,191.25999,140720,170.14500,170.99001,169.30000,...,29.690,29.820,29.500,29.700,148857,39.060,39.935,39.0050,39.880,1173234
1,1,2023-03-10 12:30:00,192.81000,193.63000,190.38499,190.88000,240196,172.06000,172.51500,169.96001,...,30.100,30.180,29.650,29.695,188858,39.660,40.160,39.0301,39.045,512917
2,2,2023-03-10 11:30:00,194.00999,194.53999,192.24010,192.75000,198365,173.96001,174.28999,171.77000,...,30.435,30.540,30.015,30.070,174856,42.150,42.570,39.5057,39.670,1347318
3,3,2023-03-10 10:30:00,192.18961,194.06500,191.71001,194.00000,204440,172.30000,173.98000,172.14500,...,30.270,30.445,30.110,30.440,211079,40.720,42.160,39.2600,42.140,1467910
4,4,2023-03-10 09:30:00,191.88750,193.72000,191.03999,192.09000,311687,174.61000,174.61000,171.50999,...,30.500,30.550,30.010,30.255,267587,37.688,41.035,34.3900,40.740,3917521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4675,4675,2020-06-29 12:30:00,252.96001,253.17999,252.02000,252.34000,31094,112.78500,112.89000,112.04000,...,27.900,28.050,27.890,28.000,42901,33.150,33.260,33.0200,33.250,24194
4676,4676,2020-06-29 11:30:00,253.26500,254.12000,252.48000,252.88000,32238,112.71000,112.90000,112.40000,...,27.900,27.980,27.780,27.900,53776,33.220,33.220,32.9400,33.145,33689
4677,4677,2020-06-29 10:30:00,251.25000,253.67999,251.25000,253.32001,38316,112.39500,113.06500,112.39500,...,27.740,27.930,27.630,27.900,43043,33.340,33.510,32.9900,33.200,58632
4678,4678,2020-06-29 09:30:00,250.00999,252.64000,247.50000,251.30000,80708,110.96500,112.29000,110.44000,...,27.030,27.840,26.960,27.740,62837,32.930,33.360,32.5200,33.360,57440
4679,4679,2020-06-26 15:30:00,253.57001,253.57001,244.02000,245.77000,723806,109.75000,110.62500,109.46000,...,26.465,26.740,26.350,26.680,646809,32.315,32.440,32.2150,32.280,177484