In [1]:
import pandas as pd

In [2]:
def read_file_and_export(f: str, export: str):
    count = 0
    import csv
    file = open(f, 'r')
    file2 = open(export, 'x')
    writer = csv.writer(file2)
    columns = ['Date__(UT)__HR:MN', 'R.A._(ICRF)', 'DEC__(ICRF)', 'APmag',
    'S-brt', 'Illu%', 'hEcl-Lon', 'hEcl-Lat', 'r', 'rdot', 'delta', 'deldot',
    'S-O-T', '/r', 'S-T-O', 'GlxLon', 'GlxLat', 'L_Ap_SOL_Time', 'RA_3sigma', 'DEC_3sigma',
    'SMAA_3sig', 'SMIA_3sig', 'Theta', 'Area_3sig', 'POS_3sigma', 'RNG_3sigma',
    'RNGRT_3sig', 'DOP_S_3sig', 'DOP_X_3sig', 'RT_delay_3sig', 'App_Lon_Sun',
    'RA_(ICRF-a-app)', 'DEC_(ICRF-a-app)', 'Sky_motion', 'Sky_mot_PA', 'RelVel-ANG',
    'Lun_Sky_Brt', 'sky_SNR']
    writer.writerow(columns)
    while True:
        line = file.readline()

        if not line:
            break
        else:
            #print('yes')
            if '$$SOE' in line:

                count += 1
            elif '$$EOE' in line:
                count += 1
            if count == 1 and '$$SOE' not in line:
                line = line.replace(' ', '')
                line = line.split(',')
                line.remove('')
                line.remove('')

                writer.writerow(line)
    file.close()
    file2.close()

In [3]:
file = 'mars.txt'
export = 'mars.csv'
read_file_and_export(file, export)

In [4]:
df = pd.read_csv(export, na_values='n.a.')

In [77]:
df

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,Lun_Sky_Brt,sky_SNR
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,NaN,NaN,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870,n.a.n.a.\r\n,NaN
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,NaN,NaN,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690,n.a.n.a.\r\n,NaN
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,NaN,NaN,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510,n.a.n.a.\r\n,NaN
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,NaN,NaN,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340,n.a.n.a.\r\n,NaN
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,NaN,NaN,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170,n.a.n.a.\r\n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,NaN,NaN,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759,n.a.n.a.\r\n,NaN
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,NaN,NaN,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076,n.a.n.a.\r\n,NaN
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,NaN,NaN,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409,n.a.n.a.\r\n,NaN
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,NaN,NaN,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757,n.a.n.a.\r\n,NaN
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,NaN,NaN,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121,n.a.n.a.\r\n,NaN

In [78]:
df.isna().sum()

Date__(UT)__HR:MN        0
R.A._(ICRF)              0
DEC__(ICRF)              0
APmag                    0
S-brt                    0
Illu%                    0
hEcl-Lon                 0
hEcl-Lat                 0
r                        0
rdot                     0
delta                    0
deldot                   0
S-O-T                    0
/r                       0
S-T-O                    0
GlxLon                   0
GlxLat                   0
L_Ap_SOL_Time        62761
RA_3sigma            62761
DEC_3sigma           62761
SMAA_3sig            62761
SMIA_3sig            62761
Theta                62761
Area_3sig            62761
POS_3sigma           62761
RNG_3sigma           62761
RNGRT_3sig           62761
DOP_S_3sig           62761
DOP_X_3sig           62761
RT_delay_3sig        62761
App_Lon_Sun              0
RA_(ICRF-a-app)          0
DEC_(ICRF-a-app)         0
Sky_motion               0
Sky_mot_PA               0
RelVel-ANG               0
Lun_Sky_Brt              0
sky_SNR              62761
dtype: int64

In [79]:
df.shape

(62761, 38)

In [5]:
planets_copy = df.copy()
planets_copy.dropna(inplace=True, axis=1)

In [81]:
planets_copy.shape

(62761, 24)

In [82]:
planets_copy.Lun_Sky_Brt.unique()

array(['n.a.n.a.\r\n'], dtype=object)

In [6]:
# drop Lun_Sky_Brt column
planets_copy.drop('Lun_Sky_Brt', axis=1, inplace=True)

KeyError: "['Lun_Sky_Brt'] not found in axis"

In [7]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,S-T-O,GlxLon,GlxLat,RNG_3sigma,RNGRT_3sig,DOP_S_3sig,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app)
0,2020-Jan-0100:00,154347.21,-192307.0,1.548,4.397,95.58333,213.8549,0.4986,1.589806,-1.914764,...,24.2590,349.521092,27.505172,128.827015,154346.14,-192303.6,1.680993,103.618590,-15.660240,n.a.n.a.\r\n
1,2020-Jan-0100:30,154350.68,-192319.0,1.538,4.388,95.58189,213.8649,0.4983,1.589783,-1.914976,...,24.2630,349.529698,27.493425,128.837000,154349.60,-192315.6,1.681010,103.613840,-15.662590,n.a.n.a.\r\n
2,2020-Jan-0101:00,154354.14,-192330.9,1.530,4.380,95.58044,213.8749,0.4980,1.589760,-1.915187,...,24.2670,349.538302,27.481678,128.846985,154353.07,-192327.5,1.681026,103.609080,-15.664940,n.a.n.a.\r\n
3,2020-Jan-0101:30,154357.60,-192342.9,1.526,4.375,95.57900,213.8849,0.4976,1.589737,-1.915398,...,24.2711,349.546904,27.469930,128.856970,154356.53,-192339.5,1.681043,103.604320,-15.667290,n.a.n.a.\r\n
4,2020-Jan-0102:00,154401.07,-192354.8,1.516,4.366,95.57755,213.8948,0.4973,1.589714,-1.915609,...,24.2751,349.555505,27.458181,128.866956,154359.99,-192351.4,1.681059,103.599560,-15.669640,n.a.n.a.\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57692,2023-Apr-1622:00,64851.99,245217.2,1.186,4.643,90.57055,136.8646,1.8460,1.656396,0.746409,...,35.7674,190.259674,10.527129,51.852344,64851.63,245218.3,1.322466,96.060689,32.605190,n.a.n.a.\r\n
57693,2023-Apr-1622:30,64854.89,245213.1,1.188,4.644,90.57148,136.8738,1.8460,1.656405,0.746066,...,35.7656,190.265459,10.536567,51.861541,64854.53,245214.2,1.322552,96.065254,32.598753,n.a.n.a.\r\n
57694,2023-Apr-1623:00,64857.79,245209.0,1.193,4.649,90.57241,136.8830,1.8460,1.656414,0.745723,...,35.7637,190.271245,10.546006,51.870738,64857.43,245210.1,1.322639,96.069819,32.592317,n.a.n.a.\r\n
57695,2023-Apr-1623:30,64900.69,245204.9,1.196,4.652,90.57334,136.8922,1.8460,1.656423,0.745379,...,35.7619,190.277032,10.555445,51.879935,64900.33,245206.0,1.322725,96.074384,32.585882,n.a.n.a.\r\n
57696,2023-Apr-1700:00,64903.59,245200.8,1.189,4.644,90.57427,136.9014,1.8460,1.656432,0.745036,...,35.7601,190.282820,10.564884,51.889132,64903.23,245201.9,1.322811,96.078950,32.579447,n.a.n.a.\r\n

In [85]:
planets_copy['/r'].unique()

array(['/L', '/T'], dtype=object)

In [8]:
planets_copy['Date__(UT)__HR:MN'] = pd.to_datetime(planets_copy['Date__(UT)__HR:MN'], format='%Y-%b-%d%H:%M')

In [87]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-01-01 00:00:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-01-01 01:00:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-01-01 02:00:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-01-01 03:00:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-01-01 04:00:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 20:00:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-02-27 21:00:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-02-27 22:00:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-02-27 23:00:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-02-28 00:00:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [9]:
planets_copy['year'] = planets_copy['Date__(UT)__HR:MN'].dt.year
planets_copy['month'] = planets_copy['Date__(UT)__HR:MN'].dt.month
planets_copy['day'] = planets_copy['Date__(UT)__HR:MN'].dt.day
planets_copy['time'] = planets_copy['Date__(UT)__HR:MN'].dt.hour + planets_copy['Date__(UT)__HR:MN'].dt.minute / 60
planets_copy['date'] = planets_copy['Date__(UT)__HR:MN'].dt.date

In [10]:
planets_copy.head()
planets_copy['R.A._(ICRF)'] = pd.to_datetime(planets_copy['R.A._(ICRF)'], unit='s')
planets_copy['R.A._(ICRF)'] = planets_copy['R.A._(ICRF)'].dt.strftime('%H:%M:%S.%f')

In [107]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RelVel-ANG,year,month,day,time,degrees,minutes,seconds,weekday,date
9,2016-01-01 09:00:00,13:26:55.010000,-93319.0:48.0:1.0477378964424133e-08,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,...,-30.930410,2016,1,1,9.0,-93319.0,48.0,1.047738e-08,4,2016-01-01
10,2016-01-01 10:00:00,13:27:00.269999,-93348.0:23.0:59.99999997904524,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,...,-30.942270,2016,1,1,10.0,-93348.0,23.0,6.000000e+01,4,2016-01-01
11,2016-01-01 11:00:00,13:27:05.540000,-93418.0:53.0:59.99999997904524,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,...,-30.954130,2016,1,1,11.0,-93418.0,53.0,6.000000e+01,4,2016-01-01
12,2016-01-01 12:00:00,13:27:10.799999,-93447.0:30.0:0.0,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,...,-30.966000,2016,1,1,12.0,-93447.0,30.0,0.000000e+00,4,2016-01-01
13,2016-01-01 13:00:00,13:27:16.060000,-93516.0:6.0:2.0954757928848267e-08,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,...,-30.977880,2016,1,1,13.0,-93516.0,6.0,2.095476e-08,4,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62749,2023-02-27 13:00:00,14:05:47.790000,251944.0:47.0:59.999999958090484,0.399,4.614,89.98556,115.1313,1.6835,1.624918,1.484715,...,52.182980,2023,2,27,13.0,251944.0,47.0,6.000000e+01,0,2023-02-27
62750,2023-02-27 14:00:00,14:05:52.110000,251948.0:23.0:59.99999997904524,0.395,4.610,89.98409,115.1504,1.6838,1.624954,1.484144,...,52.160187,2023,2,27,14.0,251948.0,23.0,6.000000e+01,0,2023-02-27
62751,2023-02-27 15:00:00,14:05:56.430000,251951.0:53.0:59.99999997904524,0.406,4.620,89.98263,115.1695,1.6840,1.624989,1.483573,...,52.137410,2023,2,27,15.0,251951.0,53.0,6.000000e+01,0,2023-02-27
62752,2023-02-27 16:00:00,14:06:40.760000,251955.0:30.0:0.0,0.412,4.625,89.98118,115.1886,1.6843,1.625025,1.483002,...,52.114648,2023,2,27,16.0,251955.0,30.0,0.000000e+00,0,2023-02-27
62753,2023-02-27 17:00:00,14:06:45.090000,251959.0:6.0:2.0954757928848267e-08,0.416,4.628,89.97973,115.2077,1.6846,1.625061,1.482431,...,52.091902,2023,2,27,17.0,251959.0,6.0,2.095476e-08,0,2023-02-27

In [11]:
degress, minutes_raw = divmod(planets_copy['DEC__(ICRF)'], 1)
minutes, seconds = divmod(minutes_raw * 60, 1)
seconds = seconds * 60
planets_copy['DEC__(ICRF)'] = degress.astype(str) + ':' + minutes.astype(str) + ':' + seconds.astype(str)


planets_copy['degrees'] = degress
planets_copy['minutes'] = minutes
planets_copy['seconds'] = seconds

In [112]:
planets_copy.head()

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RelVel-ANG,year,month,day,time,degrees,minutes,seconds,weekday,date
9,2016-01-01 09:00:00,13:26:55.010000,-93319.0:48.0:1.0477378964424133e-08,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,...,-30.93041,2016,1,1,9.0,-93319.0,48.0,1.047738e-08,4,2016-01-01
10,2016-01-01 10:00:00,13:27:00.269999,-93348.0:23.0:59.99999997904524,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,...,-30.94227,2016,1,1,10.0,-93348.0,23.0,6.000000e+01,4,2016-01-01
11,2016-01-01 11:00:00,13:27:05.540000,-93418.0:53.0:59.99999997904524,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,...,-30.95413,2016,1,1,11.0,-93418.0,53.0,6.000000e+01,4,2016-01-01
12,2016-01-01 12:00:00,13:27:10.799999,-93447.0:30.0:0.0,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,...,-30.96600,2016,1,1,12.0,-93447.0,30.0,0.000000e+00,4,2016-01-01
13,2016-01-01 13:00:00,13:27:16.060000,-93516.0:6.0:2.0954757928848267e-08,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,...,-30.97788,2016,1,1,13.0,-93516.0,6.0,2.095476e-08,4,2016-01-01

In [12]:
# filter weekday monday to friday
planets_copy['weekday'] = planets_copy['Date__(UT)__HR:MN'].dt.dayofweek
planets_copy = planets_copy[planets_copy['weekday'] < 5]
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RA_(ICRF-a-app),year,month,day,time,date,degrees,minutes,seconds,weekday
0,2020-01-01 00:00:00,18:52:27.210000,-192307.0:0.0:0.0,1.548,4.397,95.58333,213.8549,0.4986,1.589806,-1.914764,...,n.a.n.a.\r\n,2020,1,1,0.0,2020-01-01,-192307.0,0.0,0.000000e+00,2
1,2020-01-01 00:30:00,18:52:30.680000,-192319.0:0.0:0.0,1.538,4.388,95.58189,213.8649,0.4983,1.589783,-1.914976,...,n.a.n.a.\r\n,2020,1,1,0.5,2020-01-01,-192319.0,0.0,0.000000e+00,2
2,2020-01-01 01:00:00,18:52:34.140000,-192331.0:6.0:2.0954757928848267e-08,1.530,4.380,95.58044,213.8749,0.4980,1.589760,-1.915187,...,n.a.n.a.\r\n,2020,1,1,1.0,2020-01-01,-192331.0,6.0,2.095476e-08,2
3,2020-01-01 01:30:00,18:52:37.600000,-192343.0:6.0:2.0954757928848267e-08,1.526,4.375,95.57900,213.8849,0.4976,1.589737,-1.915398,...,n.a.n.a.\r\n,2020,1,1,1.5,2020-01-01,-192343.0,6.0,2.095476e-08,2
4,2020-01-01 02:00:00,18:53:21.070000,-192355.0:12.0:4.190951585769653e-08,1.516,4.366,95.57755,213.8948,0.4973,1.589714,-1.915609,...,n.a.n.a.\r\n,2020,1,1,2.0,2020-01-01,-192355.0,12.0,4.190952e-08,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57596,2023-04-14 22:00:00,17:53:34.290000,245834.0:30.0:0.0,1.171,4.652,90.48323,135.9808,1.8445,1.655515,0.779275,...,n.a.n.a.\r\n,2023,4,14,22.0,2023-04-14,245834.0,30.0,0.000000e+00,4
57597,2023-04-14 22:30:00,17:53:37.170000,245830.0:47.0:59.999999958090484,1.166,4.647,90.48413,135.9900,1.8445,1.655524,0.778933,...,n.a.n.a.\r\n,2023,4,14,22.5,2023-04-14,245830.0,47.0,6.000000e+01,4
57598,2023-04-14 23:00:00,17:53:40.060000,245827.0:0.0:0.0,1.156,4.637,90.48502,135.9992,1.8445,1.655533,0.778592,...,n.a.n.a.\r\n,2023,4,14,23.0,2023-04-14,245827.0,0.0,0.000000e+00,4
57599,2023-04-14 23:30:00,17:53:42.950000,245823.0:12.0:4.190951585769653e-08,1.146,4.627,90.48591,136.0084,1.8445,1.655543,0.778250,...,n.a.n.a.\r\n,2023,4,14,23.5,2023-04-14,245823.0,12.0,4.190952e-08,4
57696,2023-04-17 00:00:00,18:01:43.590000,245200.0:47.0:59.999999958090484,1.189,4.644,90.57427,136.9014,1.8460,1.656432,0.745036,...,n.a.n.a.\r\n,2023,4,17,0.0,2023-04-17,245200.0,47.0,6.000000e+01,0

In [ ]:
planets_copy.to_csv('mars.csv')

In [13]:
def filter_by_time(df, start, end):
    df.query('time >= @start and time <= @end', inplace=True)
    return df
work_hour_df = filter_by_time(planets_copy, 9, 17)
work_hour_df.shape

C:\Users\Mateja Milicevic\AppData\Local\Temp\ipykernel_5240\1464612790.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.query('time >= @start and time <= @end', inplace=True)

(14586, 33)

In [14]:
#import holidays
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()

holidays = cal.holidays(start=work_hour_df['Date__(UT)__HR:MN'].min(), end=work_hour_df['Date__(UT)__HR:MN'].max())
holidays
holidays = pd.to_datetime(holidays, format='%Y-%b-%d%H:%M')
holidays

DatetimeIndex(['2020-01-20', '2020-02-17', '2020-05-25', '2020-07-03',
               '2020-09-07', '2020-10-12', '2020-11-11', '2020-11-26',
               '2020-12-25', '2021-01-01', '2021-01-18', '2021-02-15',
               '2021-05-31', '2021-06-18', '2021-07-05', '2021-09-06',
               '2021-10-11', '2021-11-11', '2021-11-25', '2021-12-24',
               '2021-12-31', '2022-01-17', '2022-02-21', '2022-05-30',
               '2022-06-20', '2022-07-04', '2022-09-05', '2022-10-10',
               '2022-11-11', '2022-11-24', '2022-12-26', '2023-01-02',
               '2023-01-16', '2023-02-20'],
              dtype='datetime64[ns]', freq=None)

In [15]:
# filter out holidays
work_hour_df = work_hour_df[~work_hour_df['date'].isin(holidays)]
work_hour_df.shape

C:\Users\Mateja Milicevic\AppData\Local\Temp\ipykernel_5240\855559850.py:2: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  work_hour_df = work_hour_df[~work_hour_df['date'].isin(holidays)]

(14518, 33)