In [1]:
import pandas as pd

In [16]:
def read_file_and_export(f: str, export: str):
    count = 0
    import csv
    file = open(f, 'r')
    file2 = open(export, 'x')
    writer = csv.writer(file2)
    columns = ['Date__(UT)__HR:MN', 'R.A._(ICRF)', 'DEC__(ICRF)', 'APmag',
    'S-brt', 'Illu%', 'hEcl-Lon', 'hEcl-Lat', 'r', 'rdot', 'delta', 'deldot',
    'S-O-T', '/r', 'S-T-O', 'GlxLon', 'GlxLat', 'L_Ap_SOL_Time', 'RA_3sigma', 'DEC_3sigma',
    'SMAA_3sig', 'SMIA_3sig', 'Theta', 'Area_3sig', 'POS_3sigma', 'RNG_3sigma',
    'RNGRT_3sig', 'DOP_S_3sig', 'DOP_X_3sig', 'RT_delay_3sig', 'App_Lon_Sun',
    'RA_(ICRF-a-app)', 'DEC_(ICRF-a-app)', 'Sky_motion', 'Sky_mot_PA', 'RelVel-ANG',
    'Lun_Sky_Brt', 'sky_SNR']
    writer.writerow(columns)
    while True:
        line = file.readline()

        if not line:
            break
        else:
            #print('yes')
            if '$$SOE' in line:

                count += 1
            elif '$$EOE' in line:
                count += 1
            if count == 1 and '$$SOE' not in line:
                line = line.replace(' ', '')
                line = line.split(',')
                line.remove('')
                line.remove('')

                writer.writerow(line)
    file.close()
    file2.close()

In [17]:
file = 'planets.txt'
export = 'planets2.csv'
read_file_and_export(file, export)

NameError: name 'file3' is not defined

In [60]:
df = pd.read_csv(export, na_values='n.a.')

In [61]:
df.head()

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,Lun_Sky_Brt,sky_SNR
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,NaN,NaN,89.065096,134727.18,-92850.9,1.388775,110.70964,-30.82387,n.a.n.a.\r\n,NaN
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,NaN,NaN,89.083464,134732.45,-92920.4,1.388634,110.70567,-30.83569,n.a.n.a.\r\n,NaN
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,NaN,NaN,89.101832,134737.72,-92950.0,1.388492,110.70170,-30.84751,n.a.n.a.\r\n,NaN
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,NaN,NaN,89.120200,134742.98,-93019.5,1.388351,110.69773,-30.85934,n.a.n.a.\r\n,NaN
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,NaN,NaN,89.138569,134748.25,-93049.0,1.388209,110.69375,-30.87117,n.a.n.a.\r\n,NaN

In [141]:
df.isna().sum()

Date__(UT)__HR:MN        0
R.A._(ICRF)              0
DEC__(ICRF)              0
APmag                    0
S-brt                    0
Illu%                    0
hEcl-Lon                 0
hEcl-Lat                 0
r                        0
rdot                     0
delta                    0
deldot                   0
S-O-T                    0
/r                       0
S-T-O                    0
GlxLon                   0
GlxLat                   0
L_Ap_SOL_Time        62761
RA_3sigma            62761
DEC_3sigma           62761
SMAA_3sig            62761
SMIA_3sig            62761
Theta                62761
Area_3sig            62761
POS_3sigma           62761
RNG_3sigma           62761
RNGRT_3sig           62761
DOP_S_3sig           62761
DOP_X_3sig           62761
RT_delay_3sig        62761
App_Lon_Sun              0
RA_(ICRF-a-app)          0
DEC_(ICRF-a-app)         0
Sky_motion               0
Sky_mot_PA               0
RelVel-ANG               0
Lun_Sky_Brt              0
sky_SNR              62761
dtype: int64

In [142]:
df.shape

(62761, 38)

In [156]:
planets_copy = df.copy()
planets_copy.dropna(inplace=True, axis=1)

In [157]:
planets_copy.shape

(62761, 24)

In [158]:
planets_copy.Lun_Sky_Brt.unique()

array(['n.a.n.a.\r\n'], dtype=object)

In [159]:
# drop Lun_Sky_Brt column
planets_copy.drop('Lun_Sky_Brt', axis=1, inplace=True)

In [160]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [161]:
planets_copy['/r'].unique()

array(['/L', '/T'], dtype=object)

In [162]:
planets_copy['Date__(UT)__HR:MN'] = pd.to_datetime(planets_copy['Date__(UT)__HR:MN'], format='%Y-%b-%d%H%M:00')

In [163]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-01-01 00:00:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-01-01 00:01:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-01-01 00:02:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-01-01 00:03:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-01-01 00:04:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 02:00:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-02-27 02:01:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-02-27 02:02:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-02-27 02:03:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-02-28 00:00:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [164]:
planets_copy['year'] = planets_copy['Date__(UT)__HR:MN'].dt.year
planets_copy['month'] = planets_copy['Date__(UT)__HR:MN'].dt.month
planets_copy['day'] = planets_copy['Date__(UT)__HR:MN'].dt.day
planets_copy['hour'] = planets_copy['Date__(UT)__HR:MN'].dt.hour
planets_copy['minute'] = planets_copy['Date__(UT)__HR:MN'].dt.minute

In [165]:
planets_copy.head()
planets_copy['R.A._(ICRF)'] = pd.to_datetime(planets_copy['R.A._(ICRF)'], unit='s')
planets_copy['R.A._(ICRF)'] = planets_copy['R.A._(ICRF)'].dt.strftime('%H:%M:%S.%f')

In [166]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,hour,minute
0,2016-01-01 00:00:00,13:25:27.620000,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,134727.18,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0,0
1,2016-01-01 00:01:00,13:25:32.880000,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,134732.45,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,0,1
2,2016-01-01 00:02:00,13:25:38.150000,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,134737.72,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,0,2
3,2016-01-01 00:03:00,13:25:43.420000,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,134742.98,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,0,3
4,2016-01-01 00:04:00,13:25:48.680000,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,134748.25,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 02:00:00,14:06:58.080000,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,50818.35,252011.0,0.981419,86.676005,52.023759,2023,2,27,2,0
62757,2023-02-27 02:01:00,14:07:02.420000,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,50822.69,252014.5,0.981914,86.682231,52.001076,2023,2,27,2,1
62758,2023-02-27 02:02:00,14:07:06.760000,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,50827.03,252018.1,0.982408,86.688463,51.978409,2023,2,27,2,2
62759,2023-02-27 02:03:00,14:07:11.100000,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,50831.37,252021.6,0.982901,86.694700,51.955757,2023,2,27,2,3
62760,2023-02-28 00:00:00,14:07:15.440000,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,50835.71,252025.1,0.983394,86.700942,51.933121,2023,2,28,0,0

In [167]:
degress, minutes_raw = divmod(planets_copy['DEC__(ICRF)'], 1)
minutes, seconds = divmod(minutes_raw * 60, 1)
seconds = seconds * 60
planets_copy['DEC__(ICRF)'] = degress.astype(str) + ':' + minutes.astype(str) + ':' + seconds.astype(str)


planets_copy['degrees'] = degress
planets_copy['minutes'] = minutes
planets_copy['seconds'] = seconds

In [168]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,Sky_mot_PA,RelVel-ANG,year,month,day,hour,minute,degrees,minutes,seconds
0,2016-01-01 00:00:00,13:25:27.620000,-92853.0:11.0:59.99999998952262,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,110.709640,-30.823870,2016,1,1,0,0,-92853.0,11.0,60.0
1,2016-01-01 00:01:00,13:25:32.880000,-92923.0:41.0:59.99999998952262,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,110.705670,-30.835690,2016,1,1,0,1,-92923.0,41.0,60.0
2,2016-01-01 00:02:00,13:25:38.150000,-92952.0:11.0:59.99999998952262,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,110.701700,-30.847510,2016,1,1,0,2,-92952.0,11.0,60.0
3,2016-01-01 00:03:00,13:25:43.420000,-93022.0:41.0:59.99999998952262,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,110.697730,-30.859340,2016,1,1,0,3,-93022.0,41.0,60.0
4,2016-01-01 00:04:00,13:25:48.680000,-93051.0:11.0:59.99999998952262,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,110.693750,-30.871170,2016,1,1,0,4,-93051.0,11.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 02:00:00,14:06:58.080000,252009.0:47.0:59.999999958090484,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,86.676005,52.023759,2023,2,27,2,0,252009.0,47.0,60.0
62757,2023-02-27 02:01:00,14:07:02.420000,252013.0:17.0:59.999999958090484,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,86.682231,52.001076,2023,2,27,2,1,252013.0,17.0,60.0
62758,2023-02-27 02:02:00,14:07:06.760000,252016.0:53.0:59.99999997904524,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,86.688463,51.978409,2023,2,27,2,2,252016.0,53.0,60.0
62759,2023-02-27 02:03:00,14:07:11.100000,252020.0:23.0:59.99999997904524,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,86.694700,51.955757,2023,2,27,2,3,252020.0,23.0,60.0
62760,2023-02-28 00:00:00,14:07:15.440000,252024.0:0.0:0.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,86.700942,51.933121,2023,2,28,0,0,252024.0,0.0,0.0

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,hour,minute
0,2016-01-01 00:00:00,13:25:27.620000,-92853.0 11.0 59.99999998952262,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,134727.18,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0,0
1,2016-01-01 00:01:00,13:25:32.880000,-92923.0 41.0 59.99999998952262,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,134732.45,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,0,1
2,2016-01-01 00:02:00,13:25:38.150000,-92952.0 11.0 59.99999998952262,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,134737.72,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,0,2
3,2016-01-01 00:03:00,13:25:43.420000,-93022.0 41.0 59.99999998952262,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,134742.98,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,0,3
4,2016-01-01 00:04:00,13:25:48.680000,-93051.0 11.0 59.99999998952262,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,134748.25,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 02:00:00,14:06:58.080000,252009.0 47.0 59.999999958090484,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,50818.35,252011.0,0.981419,86.676005,52.023759,2023,2,27,2,0
62757,2023-02-27 02:01:00,14:07:02.420000,252013.0 17.0 59.999999958090484,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,50822.69,252014.5,0.981914,86.682231,52.001076,2023,2,27,2,1
62758,2023-02-27 02:02:00,14:07:06.760000,252016.0 53.0 59.99999997904524,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,50827.03,252018.1,0.982408,86.688463,51.978409,2023,2,27,2,2
62759,2023-02-27 02:03:00,14:07:11.100000,252020.0 23.0 59.99999997904524,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,50831.37,252021.6,0.982901,86.694700,51.955757,2023,2,27,2,3
62760,2023-02-28 00:00:00,14:07:15.440000,252024.0 0.0 0.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,50835.71,252025.1,0.983394,86.700942,51.933121,2023,2,28,0,0