# Zodiac Sign stock prediction Project

### Context:
- We are trying to

In [1]:
import pandas as pd
#pd.options.mode.dtype_backend = 'pyarrow'
pd.__version__

'2.0.0rc0'

In [2]:
def read_file_and_export(f: str, export: str):
    count = 0
    import csv
    file = open(f, 'r')
    file2 = open(export, 'x')
    writer = csv.writer(file2)
    columns = ['Date__(UT)__HR:MN', 'R.A._(ICRF)', 'DEC__(ICRF)', 'APmag',
    'S-brt', 'Illu%', 'hEcl-Lon', 'hEcl-Lat', 'r', 'rdot', 'delta', 'deldot',
    'S-O-T', '/r', 'S-T-O', 'GlxLon', 'GlxLat', 'L_Ap_SOL_Time', 'RA_3sigma', 'DEC_3sigma',
    'SMAA_3sig', 'SMIA_3sig', 'Theta', 'Area_3sig', 'POS_3sigma', 'RNG_3sigma',
    'RNGRT_3sig', 'DOP_S_3sig', 'DOP_X_3sig', 'RT_delay_3sig', 'App_Lon_Sun',
    'RA_(ICRF-a-app)', 'DEC_(ICRF-a-app)', 'Sky_motion', 'Sky_mot_PA', 'RelVel-ANG',
    'Lun_Sky_Brt', 'sky_SNR']
    writer.writerow(columns)
    while True:
        line = file.readline()

        if not line:
            break
        else:
            #print('yes')
            if '$$SOE' in line:

                count += 1
            elif '$$EOE' in line:
                count += 1
            if count == 1 and '$$SOE' not in line:
                line = line.replace(' ', '')
                line = line.split(',')
                line.remove('')
                line.remove('')

                writer.writerow(line)
    file.close()
    file2.close()

In [3]:
file = 'planets.txt'
export = 'planets2.csv'
read_file_and_export(file, export)

FileExistsError: [Errno 17] File exists: 'planets2.csv'

In [4]:

df = pd.read_csv(export, na_values='n.a.')

In [5]:
df

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DOP_X_3sig,RT_delay_3sig,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,Lun_Sky_Brt,sky_SNR
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,NaN,NaN,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870,n.a.n.a.\r\n,NaN
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,NaN,NaN,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690,n.a.n.a.\r\n,NaN
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,NaN,NaN,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510,n.a.n.a.\r\n,NaN
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,NaN,NaN,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340,n.a.n.a.\r\n,NaN
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,NaN,NaN,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170,n.a.n.a.\r\n,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,NaN,NaN,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759,n.a.n.a.\r\n,NaN
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,NaN,NaN,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076,n.a.n.a.\r\n,NaN
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,NaN,NaN,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409,n.a.n.a.\r\n,NaN
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,NaN,NaN,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757,n.a.n.a.\r\n,NaN
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,NaN,NaN,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121,n.a.n.a.\r\n,NaN

In [61]:
df.dtypes

Date__(UT)__HR:MN     object
R.A._(ICRF)          float64
DEC__(ICRF)          float64
APmag                float64
S-brt                float64
Illu%                float64
hEcl-Lon             float64
hEcl-Lat             float64
r                    float64
rdot                 float64
delta                float64
deldot               float64
S-O-T                float64
/r                    object
S-T-O                float64
GlxLon               float64
GlxLat               float64
L_Ap_SOL_Time        float64
RA_3sigma            float64
DEC_3sigma           float64
SMAA_3sig            float64
SMIA_3sig            float64
Theta                float64
Area_3sig            float64
POS_3sigma           float64
RNG_3sigma           float64
RNGRT_3sig           float64
DOP_S_3sig           float64
DOP_X_3sig           float64
RT_delay_3sig        float64
App_Lon_Sun          float64
RA_(ICRF-a-app)      float64
DEC_(ICRF-a-app)     float64
Sky_motion           float64
Sky_mot_PA           float64
RelVel-ANG           float64
Lun_Sky_Brt           object
sky_SNR              float64
dtype: object

In [62]:
df.isna().sum()

Date__(UT)__HR:MN        0
R.A._(ICRF)              0
DEC__(ICRF)              0
APmag                    0
S-brt                    0
Illu%                    0
hEcl-Lon                 0
hEcl-Lat                 0
r                        0
rdot                     0
delta                    0
deldot                   0
S-O-T                    0
/r                       0
S-T-O                    0
GlxLon                   0
GlxLat                   0
L_Ap_SOL_Time        62761
RA_3sigma            62761
DEC_3sigma           62761
SMAA_3sig            62761
SMIA_3sig            62761
Theta                62761
Area_3sig            62761
POS_3sigma           62761
RNG_3sigma           62761
RNGRT_3sig           62761
DOP_S_3sig           62761
DOP_X_3sig           62761
RT_delay_3sig        62761
App_Lon_Sun              0
RA_(ICRF-a-app)          0
DEC_(ICRF-a-app)         0
Sky_motion               0
Sky_mot_PA               0
RelVel-ANG               0
Lun_Sky_Brt              0
sky_SNR              62761
dtype: int64

In [63]:
df.shape

(62761, 38)

In [20]:
planets_copy = df.copy()
planets_copy.dropna(inplace=True, axis=1)

In [21]:
planets_copy.shape

(62761, 24)

In [66]:
planets_copy.Lun_Sky_Brt.unique()

array(['n.a.n.a.\r\n'], dtype=object)

In [67]:
# drop Lun_Sky_Brt column
planets_copy.drop('Lun_Sky_Brt', axis=1, inplace=True)

In [68]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-Jan-0100:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-Jan-0101:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-Jan-0102:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-Jan-0103:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-Jan-0104:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-Feb-2720:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-Feb-2721:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-Feb-2722:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-Feb-2723:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-Feb-2800:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [69]:
planets_copy['/r'].unique()

array(['/L', '/T'], dtype=object)

In [70]:
planets_copy['Date__(UT)__HR:MN'] = pd.to_datetime(planets_copy['Date__(UT)__HR:MN'], format='%Y-%b-%d%H:%M')

In [71]:
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,/r,S-T-O,GlxLon,GlxLat,App_Lon_Sun,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG
0,2016-01-01 00:00:00,134727.62,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,/L,34.2177,325.196670,50.953393,89.065096,134727.18,-92850.9,1.388775,110.709640,-30.823870
1,2016-01-01 01:00:00,134732.88,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,/L,34.2225,325.224501,50.938281,89.083464,134732.45,-92920.4,1.388634,110.705670,-30.835690
2,2016-01-01 02:00:00,134738.15,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,/L,34.2273,325.252311,50.923165,89.101832,134737.72,-92950.0,1.388492,110.701700,-30.847510
3,2016-01-01 03:00:00,134743.42,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,/L,34.2321,325.280100,50.908043,89.120200,134742.98,-93019.5,1.388351,110.697730,-30.859340
4,2016-01-01 04:00:00,134748.68,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,/L,34.2369,325.307869,50.892917,89.138569,134748.25,-93049.0,1.388209,110.693750,-30.871170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 20:00:00,50818.08,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,/T,36.9158,178.394642,-8.902120,30.262223,50818.35,252011.0,0.981419,86.676005,52.023759
62757,2023-02-27 21:00:00,50822.42,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,/T,36.9185,178.403496,-8.888298,30.281330,50822.69,252014.5,0.981914,86.682231,52.001076
62758,2023-02-27 22:00:00,50826.76,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,/T,36.9213,178.412353,-8.874468,30.300437,50827.03,252018.1,0.982408,86.688463,51.978409
62759,2023-02-27 23:00:00,50831.10,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,/T,36.9240,178.421214,-8.860631,30.319543,50831.37,252021.6,0.982901,86.694700,51.955757
62760,2023-02-28 00:00:00,50835.44,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,/T,36.9267,178.430079,-8.846787,30.338648,50835.71,252025.1,0.983394,86.700942,51.933121

In [72]:
planets_copy['year'] = planets_copy['Date__(UT)__HR:MN'].dt.year
planets_copy['month'] = planets_copy['Date__(UT)__HR:MN'].dt.month
planets_copy['day'] = planets_copy['Date__(UT)__HR:MN'].dt.day
planets_copy['time'] = planets_copy['Date__(UT)__HR:MN'].dt.hour + planets_copy['Date__(UT)__HR:MN'].dt.minute / 60
planets_copy['date'] = planets_copy['Date__(UT)__HR:MN'].dt.date

In [73]:
planets_copy.head()
planets_copy['R.A._(ICRF)'] = pd.to_datetime(planets_copy['R.A._(ICRF)'], unit='s')
planets_copy['R.A._(ICRF)'] = planets_copy['R.A._(ICRF)'].dt.strftime('%H:%M:%S.%f')

In [74]:
planets_copy.dtypes

Date__(UT)__HR:MN    datetime64[ns]
R.A._(ICRF)                  object
DEC__(ICRF)                 float64
APmag                       float64
S-brt                       float64
Illu%                       float64
hEcl-Lon                    float64
hEcl-Lat                    float64
r                           float64
rdot                        float64
delta                       float64
deldot                      float64
S-O-T                       float64
/r                           object
S-T-O                       float64
GlxLon                      float64
GlxLat                      float64
App_Lon_Sun                 float64
RA_(ICRF-a-app)             float64
DEC_(ICRF-a-app)            float64
Sky_motion                  float64
Sky_mot_PA                  float64
RelVel-ANG                  float64
year                          int32
month                         int32
day                           int32
time                        float64
date                         object
dtype: object

In [75]:
planets_copy.head(-10)

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,RA_(ICRF-a-app),DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date
0,2016-01-01 00:00:00,13:25:27.620000,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,134727.18,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0.0,2016-01-01
1,2016-01-01 01:00:00,13:25:32.880000,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,134732.45,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,1.0,2016-01-01
2,2016-01-01 02:00:00,13:25:38.150000,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,134737.72,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,2.0,2016-01-01
3,2016-01-01 03:00:00,13:25:43.420000,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,134742.98,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,3.0,2016-01-01
4,2016-01-01 04:00:00,13:25:48.680000,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,134748.25,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,4.0,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62746,2023-02-27 10:00:00,14:05:34.840000,251934.0,0.413,4.631,89.98998,115.0739,1.6828,1.624811,1.486426,...,50735.12,251935.2,0.976441,86.614045,52.251454,2023,2,27,10.0,2023-02-27
62747,2023-02-27 11:00:00,14:05:39.160000,251937.6,0.397,4.614,89.98850,115.0930,1.6830,1.624847,1.485855,...,50739.43,251938.8,0.976942,86.620217,52.228614,2023,2,27,11.0,2023-02-27
62748,2023-02-27 12:00:00,14:05:43.470000,251941.2,0.414,4.630,89.98703,115.1121,1.6833,1.624882,1.485285,...,50743.75,251942.4,0.977442,86.626393,52.205789,2023,2,27,12.0,2023-02-27
62749,2023-02-27 13:00:00,14:05:47.790000,251944.8,0.399,4.614,89.98556,115.1313,1.6835,1.624918,1.484715,...,50748.07,251946.0,0.977941,86.632576,52.182980,2023,2,27,13.0,2023-02-27
62750,2023-02-27 14:00:00,14:05:52.110000,251948.4,0.395,4.610,89.98409,115.1504,1.6838,1.624954,1.484144,...,50752.39,251949.6,0.978440,86.638763,52.160187,2023,2,27,14.0,2023-02-27

In [46]:
# filter weekday monday to friday
planets_copy['weekday'] = planets_copy['Date__(UT)__HR:MN'].dt.dayofweek
planets_copy = planets_copy[planets_copy['weekday'] < 5]
planets_copy

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
0,2016-01-01 00:00:00,13:25:27.620000,-92852.8,1.197,4.562,91.34442,174.1073,1.5217,1.657735,-0.697666,...,-92850.9,1.388775,110.709640,-30.823870,2016,1,1,0.0,2016-01-01,4
1,2016-01-01 01:00:00,13:25:32.880000,-92922.3,1.174,4.539,91.34207,174.1257,1.5213,1.657718,-0.698355,...,-92920.4,1.388634,110.705670,-30.835690,2016,1,1,1.0,2016-01-01,4
2,2016-01-01 02:00:00,13:25:38.150000,-92951.8,1.156,4.522,91.33973,174.1441,1.5210,1.657701,-0.699045,...,-92950.0,1.388492,110.701700,-30.847510,2016,1,1,2.0,2016-01-01,4
3,2016-01-01 03:00:00,13:25:43.420000,-93021.3,1.156,4.522,91.33738,174.1624,1.5207,1.657684,-0.699734,...,-93019.5,1.388351,110.697730,-30.859340,2016,1,1,3.0,2016-01-01,4
4,2016-01-01 04:00:00,13:25:48.680000,-93050.8,1.169,4.536,91.33503,174.1808,1.5203,1.657668,-0.700423,...,-93049.0,1.388209,110.693750,-30.871170,2016,1,1,4.0,2016-01-01,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62756,2023-02-27 20:00:00,14:06:58.080000,252009.8,0.376,4.586,89.97540,115.2651,1.6853,1.625168,1.480717,...,252011.0,0.981419,86.676005,52.023759,2023,2,27,20.0,2023-02-27,0
62757,2023-02-27 21:00:00,14:07:02.420000,252013.3,0.362,4.571,89.97397,115.2842,1.6856,1.625203,1.480146,...,252014.5,0.981914,86.682231,52.001076,2023,2,27,21.0,2023-02-27,0
62758,2023-02-27 22:00:00,14:07:06.760000,252016.9,0.342,4.551,89.97254,115.3033,1.6858,1.625239,1.479574,...,252018.1,0.982408,86.688463,51.978409,2023,2,27,22.0,2023-02-27,0
62759,2023-02-27 23:00:00,14:07:11.100000,252020.4,0.329,4.536,89.97112,115.3224,1.6861,1.625275,1.479002,...,252021.6,0.982901,86.694700,51.955757,2023,2,27,23.0,2023-02-27,0
62760,2023-02-28 00:00:00,14:07:15.440000,252024.0,0.321,4.528,89.96970,115.3415,1.6863,1.625310,1.478430,...,252025.1,0.983394,86.700942,51.933121,2023,2,28,0.0,2023-02-28,1

In [47]:
def filter_by_time(df, start, end):
    df.query('time >= @start and time <= @end', inplace=True)
    return df
work_hour_df = filter_by_time(planets_copy, 9, 17)
work_hour_df.shape

C:\Users\alexg\AppData\Local\Temp\ipykernel_1908\2432298560.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.query('time >= @start and time <= @end', inplace=True)

(16803, 29)

In [48]:
#import holidays
from pandas.tseries.holiday import USFederalHolidayCalendar

cal = USFederalHolidayCalendar()

holidays = cal.holidays(start=work_hour_df['Date__(UT)__HR:MN'].min(), end=work_hour_df['Date__(UT)__HR:MN'].max())
holidays
holidays = pd.to_datetime(holidays, format='%Y-%b-%d%H:%M')
holidays

DatetimeIndex(['2016-01-18', '2016-02-15', '2016-05-30', '2016-07-04',
               '2016-09-05', '2016-10-10', '2016-11-11', '2016-11-24',
               '2016-12-26', '2017-01-02', '2017-01-16', '2017-02-20',
               '2017-05-29', '2017-07-04', '2017-09-04', '2017-10-09',
               '2017-11-10', '2017-11-23', '2017-12-25', '2018-01-01',
               '2018-01-15', '2018-02-19', '2018-05-28', '2018-07-04',
               '2018-09-03', '2018-10-08', '2018-11-12', '2018-11-22',
               '2018-12-25', '2019-01-01', '2019-01-21', '2019-02-18',
               '2019-05-27', '2019-07-04', '2019-09-02', '2019-10-14',
               '2019-11-11', '2019-11-28', '2019-12-25', '2020-01-01',
               '2020-01-20', '2020-02-17', '2020-05-25', '2020-07-03',
               '2020-09-07', '2020-10-12', '2020-11-11', '2020-11-26',
               '2020-12-25', '2021-01-01', '2021-01-18', '2021-02-15',
               '2021-05-31', '2021-06-18', '2021-07-05', '2021-09-06',
               '2021-10-11', '2021-11-11', '2021-11-25', '2021-12-24',
               '2021-12-31', '2022-01-17', '2022-02-21', '2022-05-30',
               '2022-06-20', '2022-07-04', '2022-09-05', '2022-10-10',
               '2022-11-11', '2022-11-24', '2022-12-26', '2023-01-02',
               '2023-01-16', '2023-02-20'],
              dtype='datetime64[ns]', freq=None)

In [49]:
# filter out holidays
work_hour_df = work_hour_df[~work_hour_df['date'].isin(holidays)]
work_hour_df.shape

(16803, 29)

In [50]:
work_hour_df.head(10)

,Date__(UT)__HR:MN,R.A._(ICRF),DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
9,2016-01-01 09:00:00,13:26:55.010000,-93318.2,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,...,-93316.3,1.387498,110.67384,-30.93041,2016,1,1,9.0,2016-01-01,4
10,2016-01-01 10:00:00,13:27:00.269999,-93347.6,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,...,-93345.8,1.387355,110.66985,-30.94227,2016,1,1,10.0,2016-01-01,4
11,2016-01-01 11:00:00,13:27:05.540000,-93417.1,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,...,-93415.2,1.387212,110.66586,-30.95413,2016,1,1,11.0,2016-01-01,4
12,2016-01-01 12:00:00,13:27:10.799999,-93446.5,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,...,-93444.7,1.387069,110.66186,-30.96600,2016,1,1,12.0,2016-01-01,4
13,2016-01-01 13:00:00,13:27:16.060000,-93515.9,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,...,-93514.1,1.386926,110.65786,-30.97788,2016,1,1,13.0,2016-01-01,4
14,2016-01-01 14:00:00,13:27:21.329999,-93545.3,1.237,4.609,91.31165,174.3645,1.5169,1.657498,-0.707313,...,-93543.5,1.386783,110.65386,-30.98976,2016,1,1,14.0,2016-01-01,4
15,2016-01-01 15:00:00,13:27:26.590000,-93614.8,1.243,4.615,91.30931,174.3829,1.5166,1.657481,-0.708002,...,-93612.9,1.386639,110.64986,-31.00164,2016,1,1,15.0,2016-01-01,4
16,2016-01-01 16:00:00,13:27:31.850000,-93644.1,1.249,4.622,91.30698,174.4013,1.5163,1.657464,-0.708691,...,-93642.3,1.386496,110.64586,-31.01353,2016,1,1,16.0,2016-01-01,4
17,2016-01-01 17:00:00,13:27:37.109999,-93713.5,1.227,4.600,91.30465,174.4197,1.5159,1.657447,-0.709379,...,-93711.7,1.386352,110.64185,-31.02543,2016,1,1,17.0,2016-01-01,4
81,2016-01-04 09:00:00,13:37:13.299999,-100816.6,1.139,4.544,91.15779,175.5966,1.4939,1.656321,-0.753322,...,-100815.0,1.376839,110.38058,-31.79616,2016,1,4,9.0,2016-01-04,0

In [51]:
work_hour_df.dtypes

Date__(UT)__HR:MN    datetime64[ns]
R.A._(ICRF)                  object
DEC__(ICRF)                 float64
APmag                       float64
S-brt                       float64
Illu%                       float64
hEcl-Lon                    float64
hEcl-Lat                    float64
r                           float64
rdot                        float64
delta                       float64
deldot                      float64
S-O-T                       float64
/r                           object
S-T-O                       float64
GlxLon                      float64
GlxLat                      float64
App_Lon_Sun                 float64
RA_(ICRF-a-app)             float64
DEC_(ICRF-a-app)            float64
Sky_motion                  float64
Sky_mot_PA                  float64
RelVel-ANG                  float64
year                          int32
month                         int32
day                           int32
time                        float64
date                         object
weekday                       int32
dtype: object

In [52]:
work_hour_df['/r'] = work_hour_df['/r'].replace({'/T': 1,
                            '/L': 0})

In [53]:
work_hour_df['/r'].value_counts()

/r
0    8604
1    8199
Name: count, dtype: int64

In [57]:
work_hour_df['date'] = pd.to_datetime(work_hour_df['date'])

In [80]:
work_hour_df.drop('R.A._(ICRF)', axis=1, inplace=True)

In [81]:
work_hour_df

,Date__(UT)__HR:MN,DEC__(ICRF),APmag,S-brt,Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,...,DEC_(ICRF-a-app),Sky_motion,Sky_mot_PA,RelVel-ANG,year,month,day,time,date,weekday
9,2016-01-01 09:00:00,-93318.2,1.203,4.573,91.32333,174.2727,1.5186,1.657583,-0.703869,1.680220,...,-93316.3,1.387498,110.673840,-30.930410,2016,1,1,9.0,2016-01-01,4
10,2016-01-01 10:00:00,-93347.6,1.214,4.584,91.32099,174.2910,1.5183,1.657566,-0.704558,1.679814,...,-93345.8,1.387355,110.669850,-30.942270,2016,1,1,10.0,2016-01-01,4
11,2016-01-01 11:00:00,-93417.1,1.228,4.598,91.31865,174.3094,1.5180,1.657549,-0.705247,1.679407,...,-93415.2,1.387212,110.665860,-30.954130,2016,1,1,11.0,2016-01-01,4
12,2016-01-01 12:00:00,-93446.5,1.235,4.606,91.31631,174.3278,1.5176,1.657532,-0.705936,1.679001,...,-93444.7,1.387069,110.661860,-30.966000,2016,1,1,12.0,2016-01-01,4
13,2016-01-01 13:00:00,-93515.9,1.258,4.630,91.31398,174.3462,1.5173,1.657515,-0.706624,1.678594,...,-93514.1,1.386926,110.657860,-30.977880,2016,1,1,13.0,2016-01-01,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62749,2023-02-27 13:00:00,251944.8,0.399,4.614,89.98556,115.1313,1.6835,1.624918,1.484715,1.129893,...,251946.0,0.977941,86.632576,52.182980,2023,2,27,13.0,2023-02-27,0
62750,2023-02-27 14:00:00,251948.4,0.395,4.610,89.98409,115.1504,1.6838,1.624954,1.484144,1.130307,...,251949.6,0.978440,86.638763,52.160187,2023,2,27,14.0,2023-02-27,0
62751,2023-02-27 15:00:00,251951.9,0.406,4.620,89.98263,115.1695,1.6840,1.624989,1.483573,1.130721,...,251953.1,0.978938,86.644956,52.137410,2023,2,27,15.0,2023-02-27,0
62752,2023-02-27 16:00:00,251955.5,0.412,4.625,89.98118,115.1886,1.6843,1.625025,1.483002,1.131136,...,251956.7,0.979435,86.651155,52.114648,2023,2,27,16.0,2023-02-27,0
62753,2023-02-27 17:00:00,251959.1,0.416,4.628,89.97973,115.2077,1.6846,1.625061,1.482431,1.131550,...,252000.3,0.979932,86.657360,52.091902,2023,2,27,17.0,2023-02-27,0

In [1]:
import transformScript as tr
import pandas as pd
from tqdm.notebook import tqdm
import torch

In [2]:
mars_data = tra.read_csv_transform('mars.csv', 'kgo')
stock_1 = pd.read_csv('stocks/')

NameError: name 'tra' is not defined

In [3]:
import os
file_path = '../Data/planets_txt/'
file_path_export = '../Data/planets_csv/'
planet_files = os.listdir(file_path)

In [4]:
file_path + planet_files[0]

'../Data/planets_txt/jupiter.txt'

In [5]:
planet_files

['jupiter.txt',
 'mars.txt',
 'mercury.txt',
 'neptune.txt',
 'saturn.txt',
 'uranus.txt',
 'venus.txt']

In [6]:
for filename in tqdm(planet_files):
    tr.read_file_and_export('{}{}'.format(file_path, filename),file_path_export +filename[:-3] + 'csv')

  0%|          | 0/7 [00:00<?, ?it/s]

FileExistsError: [Errno 17] File exists: '../Data/planets_csv/jupiter.csv'

In [7]:
pd.read_csv('../Data/planets_csv/jupiter.csv').

SyntaxError: invalid syntax (1987612819.py, line 1)

In [8]:
os.listdir(file_path_export)

['jupiter.csv',
 'mars.csv',
 'mercury.csv',
 'neptune.csv',
 'saturn.csv',
 'uranus.csv',
 'venus.csv']

In [48]:
result = np.zeros(7)

array([0., 0., 0., 0., 0., 0., 0.])

In [56]:
result = np.zeros(7)


import numpy as np
for x, file in tqdm(enumerate(os.listdir(file_path_export))):
    df = tr.read_csv_transform('{}{}'.format(file_path_export,file), 'd').drop(['Date__(UT)__HR:MN','date'], axis = 1)
    # create a new DataFrame with 100 columns of all zeros
    df = df.dropna(axis = 0)
    dummy_df = pd.DataFrame(np.zeros((df.shape[0], 78)), index=df.index)

    # set column names for the dummy DataFrame
    dummy_df.columns = ['dummy_' + str(i) for i in range(78)]

    # concatenate the dummy DataFrame with the original DataFrame
    df = pd.concat([df, dummy_df], axis = 1)
    
    tens = torch.tensor(df.values)

0it [00:00, ?it/s]

In [57]:
df

,DEC__(ICRF),Illu%,hEcl-Lon,hEcl-Lat,r,rdot,delta,deldot,S-O-T,/r,...,dummy_68,dummy_69,dummy_70,dummy_71,dummy_72,dummy_73,dummy_74,dummy_75,dummy_76,dummy_77
48,-175830.3,81.91736,5.7371,-3.2079,0.726157,-0.191521,1.272383,-9.799708,34.6482,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,-175802.3,81.91223,5.7702,-3.2072,0.726155,-0.191601,1.272265,-9.800793,34.6525,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50,-175734.3,81.90709,5.8034,-3.2066,0.726152,-0.191681,1.272147,-9.801878,34.6568,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51,-175706.2,81.90196,5.8366,-3.2059,0.726150,-0.191761,1.272029,-9.802964,34.6610,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52,-175638.2,81.89683,5.8697,-3.2053,0.726148,-0.191841,1.271911,-9.804049,34.6653,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57596,223744.6,72.70374,127.0501,2.6180,0.718455,-0.017767,1.098282,-12.069339,39.6629,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57597,223804.8,72.69625,127.0839,2.6192,0.718455,-0.017627,1.098137,-12.070643,39.6667,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57598,223824.9,72.68876,127.1178,2.6205,0.718455,-0.017488,1.097992,-12.071946,39.6705,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57599,223845.1,72.68126,127.1516,2.6218,0.718454,-0.017349,1.097846,-12.073250,39.6742,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57696,231004.8,71.94793,130.4349,2.7409,0.718442,-0.003829,1.083680,-12.199699,40.0367,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
jup_tens = torch.tensor(planets_df_ls[0].values)

In [ ]:
planets_df_ls

In [33]:
jup_tens.to('cuda:0')

tensor([[2.0000e+00, 1.0000e+00, 2.0200e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [2.0000e+00, 1.0000e+00, 2.0200e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [2.0000e+00, 1.0000e+00, 2.0200e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        ...,
        [1.4000e+01, 4.0000e+00, 2.0230e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [1.4000e+01, 4.0000e+00, 2.0230e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [1.7000e+01, 4.0000e+00, 2.0230e+03,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00]], device='cuda:0', dtype=torch.float64)

In [31]:
stocks = pd.read_csv('../Data/stocks/stocks_csv/stocks.csv')

In [32]:
import numpy as np

In [37]:
stonk_arry = stocks.values

In [39]:
stonk_arry.shape

(4680, 104)